$primary-gradient: linear-gradient(
	135deg,
	#2079ccff,
	#0d4db1ff,
	#011f66ff,
	#010c46ff
);
$modal-bg-color: #ffffff;
$modal-text-color: #333333;
$button-bg-color: #2079ccff;
$button-text-color: #ffffff;
$close-button-bg-color: #ff0000;
$close-button-text-color: #ffffff;

.UserConnecting {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background: rgba(0, 0, 0, 0.5);
	/* BG3 */
	background: linear-gradient(
		90deg,
		rgb(32, 121, 204),
		rgb(13, 77, 177) 37.469%,
		rgb(1, 31, 102) 72.911%,
		rgb(1, 12, 70) 100%
	);
	display: flex;
	align-items: center;
	justify-content: center;

	.content {
		display: flex;
		gap: 30px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		padding: 20px;
		width: 400px;
		text-align: center;

		img {
			width: 350px;
			height: 350px;
			border-radius: 50%;
			margin-bottom: 20px;
		}

		.user_info {
			.name {
				color: white;
			}
			.email {
				font-size: 20px;
				color: #ffffffa2;
			}
		}

		.buttons {
			display: flex;
			gap: 50px;
			justify-content: center;
			align-items: center;
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				color: $button-text-color;
				border: none;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				cursor: pointer;

				transition: 0.2s;
			}

			.call_on {
				background: green;

				&:hover {
					background: darken(green, 3%);
				}
			}

			.close_button {
				background: $close-button-bg-color;

				&:hover {
					background: darken($close-button-bg-color, 10%);
				}
			}
		}
	}
}
