.container {
  width: 700px;
  max-height: 800px;
  background-color: white;
  border-radius: 8px;
  padding: 20px 30px;
}
.container h1 {
  font-size: 25px;
  margin-bottom: 15px;
}
.container .selected_link {
  color: #4c3f9b;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
}
.container .link {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
}
.container .link_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 27px;
}
.container .circle {
  width: 5px;
  height: 5px;
  background: #8683d8;
  border-radius: 100px;
  box-shadow: 0px 1px 5px black;
}
.container .nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .nav_bar .nav_list {
  display: flex;
  justify-content: space-between;
  width: 470px;
  height: 20px;
}
.container .nav_bar svg {
  cursor: pointer;
}
.container .search_container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px 5px;
  gap: 5px;
}
.container .search_container .search_img {
  width: 16px;
  height: 16px;
}
.container .search_container input {
  border: none;
  outline: none;
  width: 100%;
}
.container ::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 5px;
  scrollbar-width: 1px;
}
.container ::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  height: 1px;
  border-radius: 10px;
  border: 2px solid lightgray;
}
.container ::-webkit-scrollbar {
  width: 13.5px;
  height: 1%;
}
.container .users_list {
  height: 575px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 20px;
}
.container .users_list .left_part {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .users_list .user_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 18px 0 0px;
}
.container .users_list .user_info .message_btn {
  width: 110px;
  height: 20px;
  background-color: #535188;
  color: white;
  text-align: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.container .users_list .user_profile_img {
  width: 55px;
  height: 55px;
  border-radius: 100px;
}

@media (min-width: 350px) and (max-width: 720px) {
  .container {
    width: 100%;
    padding: 20px;
  }
  .container .nav_bar {
    flex-direction: column;
    gap: 20px;
  }
  .container .nav_bar .nav_list {
    width: 100%;
  }
  .container .nav_bar .plus_icon {
    width: 20px;
    height: 20px;
  }
}