.textarea {
	width: 900px;
	height: 142px;
	max-width: 900px;
	min-width: 900px;
	min-height: 142px;
	max-height: 142px;
	background: #ebeff3;
	border: none;
	outline: none;
	border-radius: 10px;
	resize: none;
}
