.back_header {
	background-image: url(../../../../assets/background.jpeg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Registration {
	width: 100%;
	height: 100%;
	max-width: 420px;
	max-height: 645px;
	border-radius: 8px;
	border: 1px solid rgb(219, 219, 219);
	background: rgb(255, 255, 255);
	transition: 1s;
	@media (max-width: 427px) {
		// background: red;
		max-width: 370px;
	}
	@media (max-width: 382px) {
		max-width: 335px;
	}
	@media (max-width: 342px) {
		max-width: 316px;
	}

	.bar {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 25px;
		padding-block: 30px;

		border-radius: 8px;
		background: rgb(255, 255, 255);
		width: 100%;

		height: auto;
		@media (max-width: 382px) {
			// max-width: 300px;
			// background: red;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		img {
			width: 100%;
			max-height: 100%;
			max-width: 200px;
			height: 50px;
		}

		.inputs {
			display: flex;
			flex-direction: column;
			gap: 25px;

			.text_error {
				position: absolute;
				top: 294px;
				left: 810px;
				color: rgba(255, 0, 0, 0.723);
				font-size: 12.5px;
			}
			.error_name {
				position: absolute;
				top: 360px;
				left: 810px;
				color: rgba(255, 0, 0, 0.723);
				font-size: 12.5px;
			}
			.error_user_name {
				position: absolute;
				top: 425px;
				left: 810px;
				color: rgba(255, 0, 0, 0.723);
				font-size: 12.5px;
			}
			.error_email {
				position: absolute;
				top: 486px;
				left: 810px;
				color: rgba(255, 0, 0, 0.723);
				font-size: 12.5px;
			}
			.error_password {
				position: absolute;
				top: 548px;
				left: 810px;
				color: rgba(255, 0, 0, 0.723);

				font-size: 12.5px;
			}
			.error_confirm {
				position: absolute;
				top: 635px;
				left: 500px;
				color: rgba(255, 0, 0, 0.723);

				font-size: 12.5px;
			}
			.input_password {
				border: none;
				outline: none;
				border: 2px solid rgb(219, 219, 219);
				border-radius: 3px;
				background: rgb(250, 250, 250);
				color: rgb(147, 147, 147);
				padding: 6.3px;
				width: 300px;
				height: 38px;

				font-size: 14px;
				font-weight: 400;
				line-height: 36px;

				&:focus::placeholder {
					opacity: 0;
				}
				&:hover {
					background: transparent;
				}
			}
			.text {
				color: #737373;
				font-size: 16px;
				font-weight: 500;
			}
		}
	}
}
