.chat_meg {
	border-radius: 5px;
	width: 75%;
	background: white;
	padding-inline: 20px;
	display: flex;
	flex-direction: column;
	// gap: 30px;
	margin-inline: 2px;
	margin-block: 5px;
	overflow-x: none;

	.input_text {
		padding-block: 22px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 100%;

		p {
			color: rgba(0, 0, 0, 0.8);
			font-size: 30px;
			font-weight: 700;
			line-height: 29px;
		}
		.inputs {
			width: 100%;
			display: flex;
			align-items: center;
			padding-block: 5px;
			padding-inline: 12px;
			background: #e7e8e9b1;
			border-radius: 15px;
			height: 30px;

			.icons {
				width: 20px;
				height: 20px;
			}
			input {
				width: 100%;
				border: none;
				outline: none;
				background: transparent;
			}
		}
	}
	.box {
		display: flex;
		flex-direction: column;
		gap: 20px;

		overflow: auto;
		width: 100%;

		.aside {
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;

			.form {
				display: flex;
				align-items: center;
				gap: 15px;
				.images {
					width: 70px;
					height: 70px;
					object-fit: cover;
					border-radius: 50%;
					border: 4px solid #4a9b32;
				}
				.text {
					display: flex;
					flex-direction: column;
					h1 {
						font-size: 20px;
						cursor: pointer;
					}
					p {
						font-size: 14px;
					}
				}
			}
			p {
				font-size: 15px;
			}
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////!
.chat_person {
	max-width: 1363px;
	display: flex;
	gap: 5px;
	width: 100%;
	height: 100vh;
	border: 1px solid white;
	.box {
		max-width: 380px;
		height: 100%;
		display: flex;
		gap: 5px;
		flex-direction: column;
		background-color: white;
		// padding-top: 30px;
		overflow: scroll;

		.aside {
			width: 351px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			.form {
				display: flex;
				align-items: center;
				gap: 10px;
				.image {
					width: 60px;
					height: 60px;
					border-radius: 50%;
					border: 4px solid #4a9b32;
				}
				.text {
					display: flex;
					flex-direction: column;
					h1 {
						font-size: 15px;
						cursor: pointer;
					}
					p {
						font-size: 12px;
					}
				}
			}
			p {
				text-align: center;
				font-size: 12px;
			}
		}
	}
	@media (max-width: 768px) {
		.box {
			transition: 1s;
			max-width: 80px;
			display: flex;
			flex-direction: column;
			gap: 15px;
			padding-top: 30px;

			.aside {
				.form {
					transition: 1s;
					.text {
						h1 {
							opacity: 0;
						}
						p {
							opacity: 0;
						}
					}
				}
				p {
					transition: 1s;
					opacity: 0;
				}
			}
		}
	}
	@media (max-width: 390px) {
		.box {
			display: none;
		}
	}
	// !
	.cards {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		max-width: 1000px;
		width: 100%;
		position: relative;
		@media (max-width: 387px) {
			width: 100%;
			max-width: 400px;
		}
		em-emoji-picker {
			height: 275px;
			position: absolute;
			top: 590px;
			left: 0;
		}
		.card {
			background: white;
			display: flex;
			align-items: center;
			max-width: 1000px;
			padding-block: 5px;
			width: 100%;
			border-radius: 0 0 5px 5px;
			@media (max-width: 430px) {
				.icons {
					.icon {
						width: 24px !important;
						height: 24px !important;
					}
				}
			}
			@media (max-width: 390px) {
				display: flex;
			}

			button {
				background: none;
				border: none;
				outline: none;
				.arrow {
					width: 55px;
					height: 50px;
					cursor: pointer;
				}
				@media (max-width: 430px) {
					.arrow {
						width: 40px;
						height: 40px;
						cursor: pointer;
					}
				}
			}
			.bar {
				max-width: 770px;
				display: flex;
				gap: 20px;
				align-items: center;
				width: 100%;
				@media (max-width: 430px) {
					.title_second {
						font-size: 16px !important;
					}
				}
				img {
					width: 70px;
					height: 70px;
					border-radius: 50%;
					border: 4px solid green;
				}
				.text {
					display: flex;
					flex-direction: column;
					.title_second {
						color: rgb(0, 0, 0);
						font-size: 20px;
						font-weight: 700;
						line-height: 23px;
					}
					p {
						font-size: 13px;
					}
				}
			}
			.icons {
				display: flex;
				gap: 20px;
				button {
					background: none;
					border: none;
					outline: none;
					cursor: pointer;
					svg {
						width: 35px;
						height: 35px;
					}
				}
			}
		}
		.send_message {
			display: flex;
			align-items: center;
			border: none;
			// padding-block: 2px;
			padding-inline: 12px;
			gap: 10px;
			background: white;
			border-radius: 5px 5px 0 0;
			max-width: 1000px;
			width: 100%;
			height: 70px;
			overflow: hidden;
			textarea {
				border: none;
				outline: none;
				font-size: 20px;
				width: 100%;
				resize: none;
				padding-top: 20px;
				// overflow: scroll;
			}
			textarea::placeholder {
				font-size: 22px;
			}
			.icons {
				width: 35px;
				height: 35px;
				cursor: pointer;
			}
			@media (max-width: 430px) {
				textarea {
					font-size: 18px;
				}
				textarea::placeholder {
					font-size: 19px;
				}
			}
			@media (max-width: 350px) {
				textarea::placeholder {
					font-size: 18px;
				}
				textarea {
					font-size: 16.6px;
				}
			}
		}
	}
}
