.main_page {
	height: 100%;
	width: 100%;

	.aside {
		width: 980px;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.head {
			width: 100%;
			max-width: 980px;
			max-height: 260px;
			height: 100vh;

			img {
				width: 100%;
				max-width: 979px;
				max-height: 158px;
				object-fit: cover;
				border-radius: 3px;
			}
			.bar {
				display: flex;
				align-items: center;
				width: 980px;
				height: 90px;
				background: #ffffff;

				img {
					width: 150px;
					height: 150px;
					border: 5px solid rgb(255, 255, 255);
					border-radius: 75px;
					position: relative;
					bottom: 50px;
					margin-left: 13px;
				}
				.sidebar {
					width: 810px;
					height: 90px;
					display: flex;
					justify-content: space-between;
					padding-inline: 30px;

					.col {
						display: flex;
						flex-direction: column;
						gap: 6px;
						padding-block: 10px;
					}
					.far {
						display: flex;
						gap: 40px;
						padding-block: 20px;
						text-align: center;
						&:nth-child(2) {
							cursor: pointer;
						}
						.active_modal {
							transition: 0.6s;
							background: #dedede;
							padding: 5px 22px;
							border-radius: 9px;
						}
					}
				}
			}
		}
		.links {
			width: 100%;
			padding-block: 10px;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 75px;

			.link {
				display: flex;
				align-items: center;
				gap: 5px;

				p {
					color: rgb(0, 0, 0);
					font-size: 16px;
					font-weight: 400;
					line-height: 16px;
					letter-spacing: 0%;
					text-align: left;
				}
				@media (max-width: 360px) {
					p {
						color: rgb(0, 0, 0);
						font-size: 13px;
						font-weight: 400;
						line-height: 12px;
					}
				}
			}
			svg {
				width: 20px;
				height: 20px;
			}
			.active_page {
				display: flex;
				align-items: center;
				gap: 5px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.7);
				color: black;
				@media (max-width: 360px) {
					p {
						color: rgb(0, 0, 0);
						font-size: 13px;
						font-weight: 400;
						line-height: 12px;
					}
				}
			}
		}
	}
}

@media (max-width: 1155px) {
	.main_page {
		.aside {
			transition: all 1s ease-in-out;
			width: 1000px;

			transition: 1s;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 257px 45px;
			.head {
				.bar {
					width: 100%;
					max-width: 965px;
					.userImg {
						img {
							// height: 150vw;
							// width: 100%;
							// max-width: 120px;
						}
					}
					.sidebar {
						transition: all 1.7s ease-in;
						display: grid;
						grid-template-columns: repeat(2, 440px);
						align-content: start;
						width: 100%;
						max-width: 630px;
						.col {
							display: flex;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1000px) {
	.main_page {
		.aside {
			transition: all 1s ease-in-out;
			width: 100%;
			max-width: 768px;

			transition: 1s;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 257px 45px;
			.head {
				.bar {
					width: 100%;
					.sidebar {
						width: 100%;
						transition: 1s;
						display: grid;
						grid-template-columns: repeat(2, 1fr);
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.main_page {
		.aside {
			width: 100%;
			.head {
				.bar {
					.userImg img {
						// height: 150px;
					}
				}
			}
			.links {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 35px;
			}
		}
	}
}

@media (max-width: 480px) {
	.main_page {
		.aside {
			width: 100%;
			.head {
				.bar {
					.user_img img {
						// height: 100px;
					}
				}
				.sidebar {
					display: flex;
					align-items: flex-start;
					align-content: center;
					justify-content: center;
					p {
						font-size: 4vw;
					}
					.col {
						display: flex;
						.mobile {
							opacity: 0;
							svg {
								opacity: 0;
							}
						}
					}
				}
			}
			.links {
				display: flex;
				align-items: center;
				gap: 25px;
				p {
					font-size: 4vw;
				}
			}
		}
	}
}

@media (max-width: 360px) {
	.main_page {
		.aside {
			.head {
				.bar {
					width: 100%;
					max-width: 337px;
					.user_img {
						position: relative;
						top: 20px;
						left: -10px;
						img {
							width: 110px;
							height: 110px;
						}
					}
					.sidebar {
						display: grid;
						grid-template-columns: 66px 60px;
						margin-left: -30px;
						.far {
							display: grid;
							grid-template-columns: 20px;
							grid-template-rows: 1px;
							position: relative;
							bottom: 10px;
						}
					}
				}
			}
			.links {
			}
		}
	}
}

// 1
.content {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;

	h1 {
		text-align: center;
		font-family: 'Courier New';
		font-weight: bold;
	}
	.bar {
		width: 320px;
		height: 320px;
		background: white;
		display: grid;
		align-items: center;
		justify-content: center;
		:first-child {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;
		}
	}
	.section {
		display: flex;
		flex-direction: column;
		gap: 6px;
		flex-wrap: wrap;
		img {
			width: 320px;
			height: 320px;
			object-fit: cover;
		}
	}
}

@media (max-width: 768px) {
	.content {
		padding-left: 10px;
		.bar {
			width: 300px;
		}
		.section {
			img {
				width: 300px;
			}
		}
	}
}

.favorite {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	h1 {
		text-align: center;
		font-family: 'Courier New';
		font-weight: bold;
	}
	.widget {
		display: flex;
		flex-direction: column;
		gap: 6px;
		img {
			width: 320px;
			height: 350px;
			object-fit: cover;
		}
	}
}
@media (max-width: 770px) {
	.favorite {
		padding-left: 10px;

		.widget {
			img {
				width: 300px;
			}
		}
	}
}

.photo {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	h1 {
		text-align: center;
		font-family: 'Courier New';
		font-weight: bold;
	}
	.photo_user {
		display: flex;
		flex-direction: column;
		gap: 6px;
		img {
			width: 320px;
			height: 320px;
			object-fit: cover;
			cursor: grab;
		}
	}
}
@media (max-width: 768px) {
	.photo {
		padding-left: 22px;
		.photo_user {
			img {
				width: 290px;
			}
		}
	}
}

.aside_modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

// !! UsersProfile

.content_type {
	// height: 100vh;
	// background: #fff;
	.bag_word {
		.head1 {
			.heading {
				.bag_frame {
					display: flex;
					// width: 980px;

					svg {
						width: Hug (6px) px;
						height: Hug (26px) px;
						position: relative;
						right: 15px;
						bottom: 50px;
						gap: 4px;
						opacity: 0px;
					}
				}
				@media (max-width: 778px) {
					.content_type {
						.bag_word {
							width: 100%;
							.head1 {
								.heading {
									.teg_is {
										width: 100%;
									}
								}
							}
						}
					}
				}
				.teg_is {
					display: flex;
					gap: 40px;
					background: #fff;
					height: 100px;
					width: 980px;

					.user_R {
						display: flex;
						.user {
							width: 150px;
							height: 150px;
							gap: 0px;
							border-radius: 75px 75px 75px 75px;
							opacity: 0px;
							border: 5px solid rgba(255, 255, 255, 1);
							position: relative;
							bottom: 75px;
							left: 10px;
						}
					}

					@media (max-width: 430px) {
						.every_class {
							.useb_line_Sma {
								.usub_icon {
									svg {
										opacity: 0;
									}
									img {
										opacity: 0;
									}
									p {
										opacity: 0;
									}
								}
							}
						}
					}

					.every_class {
						display: flex;
						gap: 400px;

						.useb_line_Sma {
							display: flex;
							flex-direction: column;
							gap: 7px;
							.usub_icon {
								display: flex;
								gap: 10px;
								text-align: center;
								.h3 {
									font-family: GFS Neohellenic;
									font-size: 21px;
									font-weight: 700;
									line-height: 26px;
									text-align: left;
								}
								.line {
									width: 20px;
									height: 0px;
									top: 16px;
									left: 115px;
									gap: 0px;
									border: 0.5px 0px 0px 0px;
									opacity: 0px;
									angle: -90 deg;
									border: 0.5px solid rgba(0, 0, 0, 1);
									transform: rotate(90deg);
									margin-top: 12px;
								}

								p {
									font-family: GFS Neohellenic;
									font-size: 21px;
									font-weight: 700;
									line-height: 24.3px;
									letter-spacing: 0.03em;
									text-align: center;
									color: rgba(0, 0, 0, 0.2);
								}
								.samaia {
									p {
										width: 980px;
										height: 260px;
										top: 49px;
										left: 400px;
										gap: 0px;
										opacity: 0px;

										background: rgba(255, 255, 255, 1);
									}
								}
							}
							.basket_doctor {
								display: flex;
								align-items: center;

								gap: 5px;
								p {
									color: rgba(98, 109, 122, 1);
								}
							}
						}

						.friends {
							display: flex;
							gap: 10px;
							flex-direction: column;
							text-align: center;
							.tens {
								display: flex;
								gap: 20px;
							}
						}
					}
				}
			}
		.pub_scss {
				display: flex;
				flex-direction: column;
				gap: 10px;
				.public_my {
					display: flex;

					.my_public {
						display: flex;
						justify-content: center;
						gap: 260px;
						background: #fff;
						width: 980px;
						margin-top: 10px;
						height: 40px;

						.icon_photo {
							display: flex;
							align-items: center;

							svg {
								width: 18px;
								height: 18px;
								top: 3px;
								gap: 0px;
								opacity: 0px;
							}
						}
						.icon_pinned {
							display: flex;
							align-items: center;

							svg {
								width: 18px;
								height: 18px;
								top: 3px;
								gap: 0px;
								opacity: 0px;
							}
						}
					}
				}
			}
		}
	}

	// !!!usersPhoto

	.content1 {
		display: flex;
		width: 1000px;
		flex-wrap: wrap;
		gap: 20px;
		margin-top: 10px;
		.image {
			display: flex;
			justify-content: start;
			img {
				width: 313px;
				height: 320px;
			}
		}
	}
}
