.button {
	border: 1px solid rgb(151, 71, 255);
	border-radius: 5px;
	width: 229px;
	height: 25px;
	color: rgb(0, 0, 0);
	font-family: GFS Neohellenic;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 2%;
	text-align: center;
}
