.notifi {
	max-width: 980px;
	width: 100%;
	.aside {
		display: flex;
		flex-direction: column;
		height: 100vh;
		gap: 20px;
		padding-inline: 30px;
		background: #fff;

		.head {
			border-bottom: 1px solid rgb(235, 239, 243);
		}

		.bar {
			display: flex;
			flex-direction: column;
			gap: 25px;
			.box {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.comment {
					display: flex;
					justify-content: space-between;
					align-items: center;
					max-width: 800px;
					width: 100%;
				}
				.start {
					display: flex;
					align-items: center;
					gap: 10px;
				}
				.user_img {
					width: 80px;
					height: 80px;
					border-radius: 50%;
					border: 4px solid #81d766;
				}
				img {
					width: 70px;
					height: 80px;
				}
			}
		}
	}
}
//modal
.tool_tip {
	display: flex;
	justify-content: center;
	align-items: center;
	.open_modal {
		display: flex;
		// background: white;

		.aside_bar {
			background: rgba(255, 255, 255);
			width: 490px;
			text-align: center;
		}

		img {
			width: 520px;
			object-fit: cover;
		}
	}
}
