.notifi {
	background: #ebeff3;
	height: 100vh;
	.aside {
		max-width: 980px;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		gap: 20px;
		border-radius: 9px;
		padding-inline: 30px;
		background: #fff;

		.head {
			border-bottom: 1px solid rgb(235, 239, 243);
		}

		.bar {
			display: flex;
			flex-direction: column;
			gap: 25px;
			.box {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.comment {
					display: flex;
					justify-content: space-between;
					align-items: center;
					max-width: 800px;
					width: 100%;
				}
				.start {
					display: flex;
					align-items: center;
					gap: 10px;
				}
				.userImg {
					width: 80px;
					height: 80px;
					border-radius: 75px;
					// border-color: linear-gradient(
					// 		5px,
					// 		rgb(164, 237, 71, 1),
					// 		rgb(124, 211, 106, 1),
					// 		rgb(76, 160, 116, 1),
					// 		rgb(46, 107, 126, 1)
					// 	)
					// 	1;
					// border-color: 2px solid #a4ed47 #7cd36a #4ca074 #2e6b7e;
				}
				img {
					width: 70px;
					height: 80px;
				}
			}
		}
	}
}
