.container {
	max-width: 980px;
	width: 100%;
	padding: 0px 0px 40px 0px;
	.user_avatar_and_cover {
		display: flex;
		flex-direction: column-reverse;
		width: 980px;
		height: 253px;
		background-color: #bac0c6;
		display: flex;
		justify-content: center;
		align-items: center;
		.user_avatar {
			position: relative;
			z-index: 1;
			height: 170px;
			top: 50px;
		}
	}
	.user_cover {
		width: 980px;
		height: 253px;
		position: relative;
		top: -170px;
		.cover_img {
			object-fit: cover;
			display: flex;
			z-index: 1;
			position: absolute;
			width: 980px;
			height: 253px;
			overflow: hidden;
		}
		.cover_choose_btn {
			position: absolute;
			z-index: 1;
			width: 160px;
			height: 30px;
			border-radius: 10px;
			display: flex;
			background-color: #080a2366;
			cursor: pointer;
			top: 14px;
			left: 805px;
			align-items: center;
			gap: 5px;
			justify-content: center;
			p {
				font-size: 10px;
				font-weight: 700;
				color: #ffffffb2;
			}
		}
	}
	.public_content {
		max-width: 980px;
		width: 100%;
		background-color: white;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 20px 0px 30px 50px;
		div {
			max-width: 900px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 14px;
		}
		p {
			font-weight: 700;
			font-size: 20px;
		}
		input,
		textarea {
			width: 100%;
			resize: none;
			outline: none;
			background-color: #ebeff3;
			border: none;
			border-radius: 8px;
			font-size: 20px;
		}
		input {
			padding: 14px 13px;
		}
		textarea {
			padding: 14px 0px 142px 13px;
		}
		.save_public_button_container {
			display: flex;
			justify-content: center;
			padding: 0px 300px;
		}
		.save_public_button {
			height: 32px;
			border-radius: 8px;
			background: rgb(9, 7, 85);
			opacity: 0.7;
			color: rgb(255, 255, 255);
			font-family: Roboto;
			font-size: 14px;
			font-weight: 600;
			line-height: 18px;
			cursor: pointer;
			text-align: center;
			outline: none;
			border: none;
		}
	}
}

// adaptive

@media (min-width: 320px) and (max-width: 720px) {
	.container {
		width: 100%;
		padding: 10px 10px;
		.user_avatar_and_cover {
			width: 100%;
			height: 253px;
			.user_cover {
				width: 100%;
				top: -140px;
				.cover_img {
					width: 100%;
				}
			}
			.cover_choose_btn {
				width: 70%;
				left: 20px;
			}
		}
		.public_content {
			padding: 20px;
			.save_public_button_container {
				padding: 0;
				display: flex;
				.save_public_button {
					width: 70%;
					position: relative;
					left: 20%;
				}
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 525px) {
	.container {
		.user_avatar_and_cover {
			.user_cover {
				top: -140px;
			}
			.user_avatar {
				top: 80px;
			}
		}
	}
}

@media (min-width: 525px) and (max-width: 720px) {
	.container {
		.user_avatar_and_cover {
			.user_cover {
				top: -170px;
			}
		}
	}
}

@media (min-width: 525px) and (max-width: 595px) {
	.container {
		.user_avatar_and_cover {
			.user_cover {
				top: -140px;
			}
		}
	}
}
