.Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.Layout main {
  display: flex;
  gap: 5px;
  padding-inline: 10px;
  overflow-y: auto;
}
.Layout footer {
  margin-top: auto;
}