.Main_page .container .content {
  width: 100%;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  height: 100%;
}
.Main_page .container .content .keen {
  display: flex;
  max-width: 100%;
  height: 100vh;
  max-height: 290px;
  padding-block: 8px;
  padding-inline: 8px;
  overflow: hidden;
  cursor: grab;
  background-color: #ffffff;
}
@media (max-width: 399px) {
  .Main_page .container .content .keen {
    width: 100%;
  }
  .Main_page .container .content .keen .story_pic {
    width: 100%;
    max-width: 180px;
  }
}
.Main_page .container .content .keen .story_pic {
  width: 180px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
  filter: brightness(0.5);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.Main_page .container .content .keen .slide_avatar {
  position: relative;
  bottom: 180px;
  left: 40px;
  width: 100px;
  height: 100px;
  z-index: 100;
  border-radius: 50%;
  border: 4px solid #81d766;
  cursor: default;
}
@media (max-width: 399px) {
  .Main_page .container .content .keen .slide_avatar {
    left: -140px;
    transform: translateY(50%);
  }
}
.Main_page .container .content .section {
  width: 100%;
  max-width: 980px;
  background: #fff;
  padding-inline: 30px;
}
.Main_page .container .content .section .holder {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  max-width: 912px;
  position: relative;
}
@media (max-width: 1118px) {
  .Main_page .container .content .section .holder {
    max-width: 860px;
  }
  .Main_page .container .content .section .holder .wrapper {
    max-width: 770px;
  }
  .Main_page .container .content .section .holder .text {
    max-width: 800px;
  }
  .Main_page .container .content .section .holder .posts img {
    width: 100%;
    max-width: 772px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Main_page .container .content .section .holder .posts .icons {
    max-width: 775px;
  }
}
@media (max-width: 900px) {
  .Main_page .container .content .section .holder {
    max-width: 670px;
  }
}
@media (max-width: 600px) {
  .Main_page .container .content .section .holder {
    max-width: 500px;
  }
}
@media (max-width: 400px) {
  .Main_page .container .content .section .holder {
    max-width: 340px;
    overflow: hidden;
  }
}
@media (max-width: 340px) {
  .Main_page .container .content .section .holder {
    max-width: 280px;
  }
}
@media (max-width: 320px) {
  .Main_page .container .content .section .holder {
    max-width: 250px;
  }
}
.Main_page .container .content .section .holder .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
}
.Main_page .container .content .section .holder .wrapper .wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Main_page .container .content .section .holder .wrapper .wrap:nth-child(1) {
  font-size: 25px;
  font-weight: 300;
  line-height: 29px;
}
.Main_page .container .content .section .holder .wrapper .wrap:nth-child(1) p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}
.Main_page .container .content .section .holder .wrapper .wrap img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.Main_page .container .content .section .holder .wrapper button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  opacity: 1;
}
.Main_page .container .content .section .holder .wrapper button:active {
  opacity: 0.9;
}
.Main_page .container .content .section .holder .one {
  position: absolute;
  bottom: 590px;
  left: 671px;
  z-index: 50;
  width: 250px;
  height: 170px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.Main_page .container .content .section .holder .one .red {
  color: rgb(207, 22, 22);
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
}
.Main_page .container .content .section .holder .one p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.Main_page .container .content .section .holder .one p:hover {
  color: rgb(137, 137, 137);
  cursor: pointer;
}
.Main_page .container .content .section .holder .two {
  position: absolute;
  top: 0;
  left: -960px;
}
.Main_page .container .content .section .holder img {
  width: 100%;
  max-width: 454px;
  max-height: 634px;
  height: 100vh;
}
.Main_page .container .content .section .holder .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main_page .container .content .section .holder .icons svg {
  cursor: pointer;
}
.Main_page .container .content .section .holder .icons svg:active {
  color: red;
}
.Main_page .container .content .section .holder .icons .inner {
  display: flex;
  align-items: center;
  gap: 20px;
}
.Main_page .container .content .section .holder .comment {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.modal_aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.modal_aside .widget {
  position: relative;
}
.modal_aside .widget .bar_slider {
  width: 500px;
}
.modal_aside .widget .bar_slider .aside_slider img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 672px;
}
.modal_aside .widget img {
  width: 560px;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal_aside .main {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal_aside .main .excerpt {
  width: 530px;
  height: 639px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 10px;
  padding-block: 10px;
}
.modal_aside .main .excerpt .popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal_aside .main .excerpt .popup .bullet {
  display: flex;
  align-items: center;
  gap: 6px;
}
.modal_aside .main .excerpt .popup .bullet:nth-child(1) {
  font-size: 20px;
  font-weight: 300;
  line-height: 29px;
}
.modal_aside .main .excerpt .popup .bullet:nth-child(1) p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}
.modal_aside .main .excerpt .popup .bullet img {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal_aside .main .excerpt .preview {
  display: flex;
  gap: 7px;
}
.modal_aside .main .excerpt .preview img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal_aside .main .excerpt .preview .tip {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal_aside .main .excerpt .preview .tip .narrow {
  display: flex;
  align-items: center;
}
.modal_aside .main .excerpt .preview .tip .narrow p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
}
.modal_aside .main .excerpt .preview .tip .narrow button {
  background: none;
  border: none;
  outline: none;
}
.modal_aside .main .excerpt .preview .tip .narrow button svg {
  width: 18.83px;
  height: 17.01px;
}
.modal_aside .main .excerpt .preview .tip .narrow button svg:hover {
  color: red;
}
.modal_aside .main .excerpt .preview .tip .end_message {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal_aside .main .excerpt .preview .tip .end_message p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 6px;
}
.modal_aside .main .input_smile {
  border-top: 0.5px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 5px;
  position: relative;
}
.modal_aside .main .input_smile svg {
  position: absolute;
  top: 7px;
  left: 0;
  bottom: 6px;
  cursor: pointer;
}
.modal_aside .main .input_smile svg:active {
  color: red;
}
.modal_aside .main .input_smile input {
  outline: 0;
  border: 0;
  color: rgb(28, 28, 28);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  width: calc(100% - 40px);
  position: relative;
  left: 18px;
}
.modal_aside .main .input_smile input:focus {
  border: 0;
  outline: 0;
}
.modal_aside .main .input_smile input:focus::-moz-placeholder {
  opacity: 0;
}
.modal_aside .main .input_smile input:focus::placeholder {
  opacity: 0;
}
.modal_aside .main .input_smile em-emoji-picker {
  position: absolute;
  bottom: 33px;
  left: 0;
  z-index: 555;
  height: 260px;
}

@media (max-width: 1155px) {
  .modal_story {
    width: 100%;
    max-width: 1155px;
  }
  .modal_story .ant-progress-inner {
    max-width: 1155px;
  }
}
@media (max-width: 700px) {
  .modal_story {
    width: 100%;
    max-width: 700px;
    max-height: 700px;
  }
  .modal_story .ant-progress-inner {
    max-width: 750px;
  }
}
@media (max-width: 500px) {
  .modal_story {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
  }
  .modal_story .ant-progress-inner {
    max-width: 450px;
  }
}
@media (max-width: 400px) {
  .modal_story {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
  }
}
@media (max-width: 320px) {
  .modal_story {
    width: 100%;
    max-width: 200px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
.modal_story {
  background: rgb(31, 31, 31);
  width: 460px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 20px 20px 80px 2px rgba(255, 255, 255, 0.3);
}
.modal_story :global .ant-progress-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 453px;
  overflow: hidden;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 100px;
}
@media (max-width: 750px) {
  .modal_story .avatring {
    width: 100%;
    max-width: 750px;
  }
}
@media (max-width: 500px) {
  .modal_story .avatring {
    width: 100%;
    max-width: 500px;
  }
}
@media (max-width: 320px) {
  .modal_story .avatring {
    display: flex;
    width: 100%;
    max-width: 300px;
    gap: 20px;
  }
  .modal_story .avatring .avatar {
    width: 35 px;
    height: 35px;
  }
  .modal_story .avatring .h1_p .h4 {
    font-size: 13px;
  }
}
.modal_story .avatring {
  position: relative;
  left: 10px;
  display: flex;
  gap: 15px;
}
.modal_story .avatring img {
  width: 50px;
  height: 50px;
}
.modal_story .avatring .h1_p {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal_story .avatring .h1_p h4 {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18.15px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}
.modal_story .avatring .h1_p p {
  font-family: Inter;
  font-size: 7px;
  font-weight: 300;
  line-height: 8.47px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}
.modal_story .id_key .iframe {
  width: 100%;
  height: 535px;
  border-radius: 20px;
}

.plus_icon {
  position: relative;
}
.plus_icon .plus {
  position: absolute;
  top: 75px;
  left: 35px;
}
.plus_icon h1 {
  display: flex;
  text-align: center;
  position: absolute;
  top: 200px;
  left: 25px;
  font-family: Inria Sans;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.59px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.modal_modal {
  width: 500px;
  height: 550px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal_modal .icon_edit {
  display: flex;
  justify-content: end;
  gap: 15px;
}
.modal_modal .icon_edit .camera {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 30px;
}
.modal_modal .icon_edit .music {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 30px;
}
.modal_modal .icon_edit .letter_case {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 30px;
}
.modal_modal .icon_edit .stars {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 30px;
}
.modal_modal .video_camera {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.modal_modal .video_camera button {
  background: white;
  outline: none;
  border: none;
}
.modal_modal .video_camera .iconred {
  width: 50px;
  height: 50px;
}
.modal_modal .icon_green {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.modal_modal .icon_green input {
  width: 200px;
  height: 30px;
}
.modal_modal .icon_green .button {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgb(93, 82, 82);
  border-radius: 30px;
  outline: none;
  border: none;
  color: #fff;
  width: 150px;
  height: 30px;
}
.modal_modal .icon_green .button3 {
  display: flex;
  text-align: center;
  align-items: center;
  background: rgb(93, 82, 82);
  outline: none;
  border: none;
  border-radius: 30px;
}
.modal_modal .modal_left {
  background: #fff;
  width: 500px;
  height: 500px2;
}