//////////////////////////////////////////////////// ! Call Time
.call {
	width: 100%;
	height: 100vh;
	background: linear-gradient(
		90deg,
		#2079cc 0%,
		#0d4db1 37.47%,
		#011f66 72.91%,
		#010c46 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;

	.box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		gap: 25px;

		img {
			border-radius: 50%;
			width: 300px;
			height: 300px;
		}

		.text {
			h4 {
				color: rgb(255, 255, 255);
				font-size: 50px;
				font-weight: 800;
				line-height: 68px;
				letter-spacing: 3%;
				text-align: center;
			}
			p {
				color: rgba(255, 255, 255, 0.8);
				font-size: 30px;
				font-weight: 600;
				line-height: 41px;
				letter-spacing: 3%;
				text-align: center;
			}
		}
		.icons {
			display: flex;
			align-items: center;
			gap: 45px;

			button {
				background: none;
				border: none;
				outline: none;
				cursor: pointer;
				width: 60px;
				height: 60px;
				background: #d9d9d9;
				border-radius: 50%;
				svg {
					color: rgb(1, 14, 73);
				}

				&:nth-child(3) {
					background: red;
					border-radius: 50%;
					svg {
						color: white;
					}
				}
			}
			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
}
//////////////////////////////////////////////////// ! Call Time

.callTIme {
	width: 100%;
	height: 100vh;

	background: linear-gradient(
		90deg,
		#2079cc 0%,
		#0d4db1 37.47%,
		#011f66 72.91%,
		#010c46 100%
	);
	button {
		background: none;
		outline: none;
		border: none;
		cursor: pointer;

		svg {
			color: white;
			width: 70px;
			height: 60px;
		}
	}
	.content_call {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 155px;
		.col {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
			.icons {
				display: flex;
				align-items: center;
				gap: 45px;

				button {
					background: none;
					border: none;
					outline: none;
					cursor: pointer;
					width: 60px;
					height: 60px;
					background: #d9d9d9;
					border-radius: 50%;
					svg {
						color: rgb(1, 14, 73);
					}

					&:nth-child(3) {
						background: red;
						border-radius: 50%;
						svg {
							color: white;
						}
					}
				}
				svg {
					width: 40px;
					height: 40px;
				}
			}
			img {
				width: 300px;
				height: 300px;
				border-radius: 50%;
				object-fit: cover;
			}

			h4 {
				color: rgb(255, 255, 255);
				font-size: 50px;
				font-weight: 800;
				line-height: 68px;
				letter-spacing: 3%;
				text-align: center;
			}
			p {
				color: rgba(255, 255, 255, 0.8);
				font-size: 30px;
				font-weight: 600;
				line-height: 41px;
				letter-spacing: 3%;
				text-align: center;
			}
		}
	}
}
.video_call {
	width: 100%;
	height: 100vh;
	position: relative;
	margin: 0 auto;
	overflow: hidden;

	.video_img {
		img {
			position: absolute;
			width: 100%;
			height: 100vh;
			object-fit: cover;
			object-position: center;
		}
	}
	.text {
		display: flex;
		position: absolute;
		position: relative;
		z-index: 2;
		gap: 10px;
		padding-top: 10px;
		h1 {
			color: white;
			padding-left: 25px;

			font-size: 20px;
			font-weight: 600;
			line-height: 27px;
			letter-spacing: 3%;
			text-align: center;
			@media (max-width: 400px) {
				font-size: 15px;
			}
		}
		p {
			padding-top: 8px;
			font-size: 10px;
			color: white;
			@media (max-width: 400px) {
				font-size: 8px;
			}
		}
	}
	.box {
		width: 100%;
		height: 100vh;
		position: absolute;
		z-index: 2;
		display: flex;
		justify-content: flex-end;
		align-items: end;

		.icons {
			width: 100%;
			position: absolute;
			z-index: 2;
			display: flex;
			justify-content: center;
			text-align: center;
			gap: 10px;
			margin-bottom: 120px;
			.row {
				display: flex;
				flex-direction: column;
				gap: 10px;
				p {
					color: rgb(255, 255, 255);
					font-size: 14px;
					font-weight: 400;
					line-height: 18px;
					letter-spacing: 3%;
					text-align: center;
				}
				button {
					background: none;
					border: none;
					outline: none;
					cursor: pointer;
					width: 60px;
					height: 60px;
					background: #d9d9d9;
					border-radius: 50%;
					svg {
						color: rgb(1, 14, 73);
					}

					&:nth-child(3) {
						background: red;
						border-radius: 50%;
						svg {
							color: white;
						}
					}
				}
			}
		}
		.image {
			position: absolute;
			margin-bottom: 70px;
			img {
				width: 395px;
				height: 260px;
				object-fit: cover;
			}
		}
	}
}

//////////////////////////////////////////////////// ! Video End
.video_end {
	position: relative;
	@media (max-width: 740px) {
		svg {
			width: 60px;
			height: 60px;
		}
		.box {
			.img_user {
				.img1 {
					width: 190px;
					height: 190px;
				}
				.img2 {
					width: 190px;
					height: 190px;
					left: -45px;
				}
			}
			.text {
				h1 {
					font-size: 28px;
				}
				p {
					font-size: 18px;
				}
			}
		}
	}
	@media (max-width: 650px) {
		svg {
			width: 55px;
			height: 55px;
		}
		.box {
			.img_user {
				.img1 {
					width: 170px;
					height: 170px;
				}
				.img2 {
					width: 170px;
					height: 170px;
					left: -38px;
				}
			}
			.text {
				h1 {
					font-size: 26px;
				}
				p {
					font-size: 16px;
				}
			}
		}
	}
	@media (max-width: 550px) {
		svg {
			width: 50px;
			height: 50px;
		}
		.box {
			.img_user {
				.img1 {
					width: 150px;
					height: 150px;
				}
				.img2 {
					width: 150px;
					height: 150px;
					left: -26px;
				}
			}
			.text {
				h1 {
					font-size: 20px;
				}
				p {
					font-size: 14px;
				}
			}
		}
	}
	@media (max-width: 450px) {
		svg {
			width: 40px;
			height: 40px;
		}
		.box {
			.img_user {
				.img1 {
					width: 130px;
					height: 130px;
				}
				.img2 {
					width: 130px;
					height: 130px;
					left: -15px;
				}
			}
			.text {
				h1 {
					font-size: 16px;
				}
				p {
					font-size: 12px;
				}
			}
		}
	}
	button {
		position: absolute;
		background: none;
		outline: none;
		border: none;
		cursor: pointer;
		svg {
			color: white;
			height: 50px;
			width: 70px;
			cursor: pointer;
		}
	}

	.image {
		img {
			position: absolute;
			width: 100%;
			height: 100vh;
			object-fit: cover;
			object-position: center;
			filter: brightness(0.4);
		}
	}

	.box {
		width: 100%;
		height: 100vh;
		position: absolute;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		gap: 20px;

		.img_user {
			display: flex;
			justify-content: center;

			.img1 {
				position: relative;
				border-radius: 50%;
				left: 50px;
				width: 300px;
				height: 300px;
			}
			.img2 {
				position: relative;
				border-radius: 50%;
				right: 50px;
				width: 300px;
				height: 300px;
			}
		}

		.text {
			h1 {
				color: white;
			}
			p {
				color: white;
			}
		}
	}
}
