.section {
	width: 100%;
	max-width: 735px;
	height: 100%;
	// overflow: hidden;
	display: flex;
	.content {
		display: flex;
		flex-direction: column;
		gap: 10px;
		max-width: 700px;

		.head {
			background: #ffffff;
			height: 100vh;
			display: flex;
			flex-direction: column;

			height: 100%;
			.edit_img {
				background-image: url('../../../../assets//backgroundWhite.jpeg');
				background-position: 80% 55%;
				&:first-child {
					display: flex;
					align-items: center;
					justify-content: center;
					padding-top: 20px;
				}
			}

			.body {
				display: flex;
				flex-direction: column;
				background-color: rgb(255, 255, 255);
				gap: 30px;
				padding-inline: 40px;
				padding-block: 25px;

				.bar {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;
				}

				input {
					width: 100%;
					padding: 14px 13px;
					border: none;
					outline: none;
					border-radius: 7px;
					background: #ebeff3;
				}

				textarea {
					width: 100%;
					max-width: 900px;
					height: 100vh;
					max-height: 142px;
					resize: none;
					border: none;
					outline: none;
					border-radius: 7px;
					padding: 6.5px;
					background: #ebeff3;
				}

				p {
					color: rgb(0, 0, 0);
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0%;
					text-align: center;
				}
			}
		}

		.Secondary {
			background: #ffffff;
			height: 100%;

			.widget {
				padding-inline: 40px;
				padding-block: 30px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;

				.text {
					color: rgb(0, 0, 0);
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0%;
					text-align: center;
				}

				.inner {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 7px;

					p {
						color: rgba(0, 0, 0, 0.5);
						font-size: 15px;
						font-weight: 500;
						line-height: 26px;
						letter-spacing: 0%;
						text-align: center;
					}
				}
			}
		}

		.grid {
			background: #ffffff;
			height: 100vh;
			max-height: 252px;

			.col {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				padding-inline: 40px;
				padding-block: 30px;

				.lead {
					color: rgb(0, 0, 0);
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0%;
					text-align: center;
				}

				.row {
					display: flex;
					flex-direction: column;
					gap: 5px;

					.radio {
						display: flex;
						align-items: center;
						gap: 7px;
					}
				}
			}
		}
	}
}

@media (max-width: 1152px) {
	.section {
		width: 100%;
		transition: all 2s ease-in-out;

		.content {
			.head {
				transition: all 2s ease-in;
				width: 100%;
				max-width: 1000px;
				.editImg {
					width: 50vw;
					height: 25vw;
					// overflow: hidden;
				}

				.body {
					transition: all 2s ease-in-out;
					display: grid;
					grid-template-rows: repeat(1, 1fr);
					grid-template-columns: repeat(2, 1fr);
				}

				.editImg {
					width: 100%;
				}
			}

			.Secondary {
				transition: all 2s ease-in-out;

				// display: grid;
				// grid-template-columns: repeat(3, 1fr);
				// grid-template-rows: repeat(3, 1fr);
				.widget {
					// display: grid;
					// grid-template-columns: repeat(3, 1fr);
					// grid-template-rows: repeat(3, 1fr);

					// .inner {
					// }
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.section {
		.content {
			.head {
			}
		}
	}
}

@media (max-width: 595px) {
	.section {
		.content {
			.head {
				.editImg {
					transition: all 2s ease-in;
					height: 26vw;
					width: 100%;
				}
				.body {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}
// !!confident
.section1 {
	background: white;
	height: auto;
	border-right: 4px solid #dee3f1;

	.content1 {
		@media (max-width: 767px) {
			.img_texting {
				width: 100%;
				max-width: 767px;

				.circle {
					p {
						opacity: 0;
					}
				}
				.zip {
					p {
						opacity: 0;
					}
				}
				.sub_tract {
					p {
						opacity: 0;
					}
				}
				.info {
					p {
						opacity: 0;
					}
				}
			}
			.img_Texting {
				.circle {
					p {
						opacity: 0;
					}
				}
				.zip {
					p {
						opacity: 0;
					}
				}
				.sub_tract {
					p {
						opacity: 0;
					}
				}
				.info {
					p {
						opacity: 0;
					}
				}
			}
		}
	}
	.content1 {
		display: flex;
		justify-content: center;
		height: 1460px;

		.img_texting {
			display: flex;
			flex-direction: column;
			align-items: center;

			li {
				list-style: none;
			}

			a {
				display: flex;
				align-items: center;
				gap: 15px;
				margin: 10px;
				svg {
					width: 25px;
					height: 25px;
					top: 13.5px;
					left: 6px;
					gap: 0px;
					border: 2px 0px 0px 0px;
					opacity: 0px;
					color: black; // Default color for icons
				}
				p {
					font-family: Manrope;
					font-size: 15px;
					font-weight: 400;
					line-height: 20.49px;
					letter-spacing: 0.03em;
					text-align: left;
					width: 200px;
				}
			}

			.active_default {
				color: black;
				svg {
					width: 25px;
					height: 25px;
					top: 13.5px;
					left: 6px;
					gap: 0px;
					border: 2px 0px 0px 0px;
					opacity: 0px;
					color: black;
				}
			}

			.active_page {
				color: #4c3f9b;
				svg {
					color: #4c3f9b;
				}
			}
		}
	}
}
// !!confident TWO
.confident_content {
	display: flex;
	.vector_switch {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 10px;

		@media (max-width: 1000px) {
			margin-inline: 20px;
		}
		.vector {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 10px;
			@media (max-width: 350px) {
				h2 {
					font-size: 16px;
				}
			}
			.h2 {
				font-family: GFS Neohellenic;
				font-size: 20px;
				font-weight: 700;
				line-height: 26px;
				text-align: left;
				background: rgba(0, 0, 0, 1);
			}
		}
		.Switch {
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				font-family: Inter;
				font-size: 18px;
				font-weight: 400;
				line-height: 26px;
				text-align: center;
			}
		}
		.lorem_confident {
			display: flex;
			justify-content: end;

			p {
				font-family: Inter;
				font-size: 12px;
				font-weight: 400;
				line-height: 15px;
				text-align: left;
			}
		}
	}
}
// ! Blocked
.blocked {
	display: flex;
	max-width: 980px;
	.contents {
		display: flex;
		flex-direction: column;
		width: 680px;
		gap: 20px;
		padding: 15px;

		h2 {
			font-weight: 400;
		}
		h3 {
			font-weight: 400;
		}
	}

	.card {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.start {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		.text {
			display: flex;
			flex-direction: column;
		}

		button {
			width: 120px;
			height: 30px;
			background: #535188;
			border: none;
			border-radius: 8px;
			color: white;
			outline: none;
			cursor: pointer;
		}
	}
}

.modals {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background: white;
	height: 250px;
	border-radius: 15px;
	text-align: center;
	width: 440px;
	border: 3px solid #4c3f9b;

	.text {
		padding: 15px;
		color: black;
	}

	.buttons {
		display: flex;
		flex-direction: column;
		button {
			border: none;
			height: 40px;
			background: transparent;
			cursor: pointer;
			color: #4c3f9b;
			border-top: 3px solid #535188;
		}
		.button1 {
			border: none;
			height: 40px;
			background: transparent;
			cursor: pointer;
			border-top: 3px solid #535188;
			color: red;
		}
	}
}
