.section {
	width: 100%;
	max-width: 930px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	gap: 10px;
	.content {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		max-width: 700px;
		input {
			width: 100%;
			padding: 14px 13px;
			border: none;
			outline: none;
			border-radius: 7px;
			background: #ebeff3;
		}
		.head {
			background: #ffffff;
			height: 100vh;
			display: flex;
			flex-direction: column;
			height: 58.5%;

			.user_img_and_cover {
				width: 100%;
				height: 209px;
				display: flex;
				position: relative;
				justify-content: center;
				padding: 20px;
				background-image: url('../../../../assets//backgroundWhite.jpeg');
				background-position: 80% 55%;
				margin-bottom: 15px;
				.user_cover {
					width: 100%;
					height: 100%;
					position: absolute;
					left: 10;
					top: 0;
					margin: 0;
					.cover_img {
						object-fit: cover;
						max-width: 700px;
						height: 100%;
						width: 100%;
						display: block;
					}
					.cover_choose_btn {
						position: absolute;
						z-index: 10;
						top: 10px;
						left: 70%;
						cursor: pointer;
						justify-content: center;
						display: flex;
						position: block;
						align-items: center;
						gap: 5px;
						width: 190px;
						height: 30px;
						border-radius: 10px;
						background: #080a2366;
						p {
							color: #ffffff;
						}
					}
				}
				.edit_img {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 150px;
					height: 150px;
					border-radius: 100px;
					z-index: 5;
					&:first-child {
						display: flex;
						align-items: center;
						justify-content: center;
						padding-top: 60px;
					}
				}
			}

			.body {
				display: flex;
				flex-direction: column;
				background-color: rgb(255, 255, 255);
				gap: 30px;
				padding-inline: 40px;
				padding-block: 25px;

				.bar {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;
				}

				textarea {
					width: 100%;
					max-width: 900px;
					height: 100vh;
					max-height: 142px;
					resize: none;
					border: none;
					outline: none;
					border-radius: 7px;
					padding: 6.5px;
					background: #ebeff3;
				}

				p {
					color: rgb(0, 0, 0);
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0%;
					text-align: center;
				}
			}
		}

		.Secondary_active {
			background: #ffffff;
			width: 100%;
			height: 100%;

			.widget {
				padding-inline: 40px;
				padding-block: 30px;
				display: flex;
				align-items: center;
				gap: 15px;

				.text {
					color: rgb(0, 0, 0);
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0%;
					text-align: center;
				}

				.educations_button {
					border-radius: 4px;
					border: none;
					width: 40px;
					height: 40px;
					font-size: 20px;
					cursor: pointer;
				}
			}
			.educations_names_area {
				gap: 40px;
				display: flex;
				flex-direction: column;
				padding: 0px 40px;
				.bar {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;
					p {
						color: rgb(0, 0, 0);
						font-size: 20px;
						font-weight: 700;
						line-height: 26px;
						letter-spacing: 0%;
						text-align: center;
					}
				}
			}
		}

		.secondary_disable {
			background: #ffffff;
			height: 7%;

			.widget {
				padding-inline: 40px;
				padding-block: 30px;
				display: flex;
				align-items: center;
				gap: 15px;

				.text {
					color: rgb(0, 0, 0);
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0%;
					text-align: center;
				}

				.educations_button {
					border-radius: 4px;
					border: none;
					width: 40px;
					height: 40px;
					font-size: 20px;
					cursor: pointer;
				}
			}
			.educations_names_area {
				display: none;
			}
		}

		.grid {
			background: #ffffff;
			height: 100vh;
			max-height: 252px;

			.col {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				padding-inline: 40px;
				padding-block: 30px;

				.lead {
					color: rgb(0, 0, 0);
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0%;
					text-align: center;
				}

				.row {
					display: flex;
					flex-direction: column;
					gap: 5px;

					.radio {
						display: flex;
						gap: 7px;
						input {
							width: 10px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1152px) {
	.section {
		width: 100%;
		transition: all 2s ease-in-out;

		.content {
			.head {
				transition: all 2s ease-in;
				width: 100%;
				max-width: 1000px;
				.user_img_and_cover {
					.editImg {
						width: 50vw;
						height: 25vw;
					}
					.user_cover {
						height: 100%;
						.cover_img {
							height: 100%;
						}
						.cover_choose_btn {
							left: 60%;
						}
					}
				}

				.body {
					transition: all 2s ease-in-out;
					grid-template-rows: repeat(1, 1fr);
					grid-template-columns: repeat(2, 1fr);
					margin-bottom: 20px;
				}
			}
			.secondary_disable {
				margin-top: 2px;
			}
			.grid {
				.col {
					.row {
						.radio {
							input {
								width: 25px;
							}
						}
						gap: 20px;
					}
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.section1 {
		.content1 {
			.img_texting {
				li {
					
					p {
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 595px) {
	.section {
		.content {
			.head {
				.edit_img {
					transition: all 2s ease-in;
					height: 26vw;
					width: 100%;
				}
				.cover_choose_btn {
					margin-left: -10%;
				}
				.body {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}
// !!confident
.section1 {
	background: white;
	height: auto;
	border-right: 4px solid #dee3f1;

	.content1 {
		@media (max-width: 767px) {
			.img_texting {
				width: 100%;
				max-width: 767px;

				.circle {
					p {
						opacity: 0;
					}
				}
				.zip {
					p {
						opacity: 0;
					}
				}
				.sub_tract {
					p {
						opacity: 0;
					}
				}
				.info {
					p {
						opacity: 0;
					}
				}
			}
			.img_Texting {
				.circle {
					p {
						opacity: 0;
					}
				}
				.zip {
					p {
						opacity: 0;
					}
				}
				.sub_tract {
					p {
						opacity: 0;
					}
				}
				.info {
					p {
						opacity: 0;
					}
				}
			}
		}
	}
	.content1 {
		display: flex;
		justify-content: center;
		height: 1460px;

		.img_texting {
			display: flex;
			flex-direction: column;
			align-items: center;

			li {
				list-style: none;
			}

			a {
				display: flex;
				align-items: center;
				gap: 15px;
				margin: 10px;
				svg {
					width: 25px;
					height: 25px;
					top: 13.5px;
					left: 6px;
					gap: 0px;
					border: 2px 0px 0px 0px;
					opacity: 0px;
					color: black; // Default color for icons
				}
				p {
					font-family: Manrope;
					font-size: 15px;
					font-weight: 400;
					line-height: 20.49px;
					letter-spacing: 0.03em;
					text-align: left;
					width: 200px;
				}
			}

			.active_default {
				color: black;
				svg {
					width: 25px;
					height: 25px;
					top: 13.5px;
					left: 6px;
					gap: 0px;
					border: 2px 0px 0px 0px;
					opacity: 0px;
					color: black;
				}
			}

			.active_page {
				color: #4c3f9b;
				svg {
					color: #4c3f9b;
				}
			}
		}
	}
}
// !!confident TWO
.confident_content {
	display: flex;
	flex-direction: row-reverse;
	// max-width: 500px;
	.vector_switch {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 10px;

		@media (max-width: 1000px) {
			margin-inline: 20px;
		}
		.vector {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 10px;
			@media (max-width: 350px) {
				h2 {
					font-size: 16px;
				}
			}
			.h2 {
				font-family: GFS Neohellenic;
				font-size: 20px;
				font-weight: 700;
				line-height: 26px;
				text-align: left;
				background: rgba(0, 0, 0, 1);
			}
		}
		.Switch {
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				font-family: Inter;
				font-size: 18px;
				font-weight: 400;
				line-height: 26px;
				text-align: center;
			}
		}
		.lorem_confident {
			display: flex;
			justify-content: end;

			p {
				font-family: Inter;
				font-size: 12px;
				font-weight: 400;
				line-height: 15px;
				text-align: left;
			}
		}
	}
}
// ! Blocked
.blocked {
	display: flex;
	flex-direction: row-reverse;
	max-width: 980px;
	.contents {
		display: flex;
		flex-direction: column;
		width: 680px;
		gap: 20px;
		padding: 15px;

		h2 {
			font-weight: 400;
		}
		h3 {
			font-weight: 400;
		}
	}

	.card {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.start {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		.text {
			display: flex;
			flex-direction: column;
		}

		button {
			width: 120px;
			height: 30px;
			background: #535188;
			border: none;
			border-radius: 8px;
			color: white;
			outline: none;
			cursor: pointer;
		}
	}
}

.modals {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background: white;
	height: 250px;
	border-radius: 15px;
	text-align: center;
	width: 440px;
	border: 3px solid #4c3f9b;

	.text {
		padding: 15px;
		color: black;
	}

	.buttons {
		display: flex;
		flex-direction: column;
		button {
			border: none;
			height: 40px;
			background: transparent;
			cursor: pointer;
			color: #4c3f9b;
			border-top: 3px solid #535188;
		}
		.button1 {
			border: none;
			height: 40px;
			background: transparent;
			cursor: pointer;
			border-top: 3px solid #535188;
			color: red;
		}
	}
}
