.error {
	overflow: hidden;
	width: 100%;

	:global {
		:where(
				.css-dev-only-do-not-override-zg0ahe
			).ant-skeleton.ant-skeleton-element
			.ant-skeleton-button {
			display: inline-block;
			vertical-align: top;
			background: rgba(0, 0, 0, 0.06);
			border-radius: 4px;
			width: 64px;
			/* min-width: 64px; */
			/* height: 32px; */
			width: 100%;
			height: 100vh;
			line-height: 32px;

			background: linear-gradient(
				90deg,
				rgba(0, 0, 0, 0.06) 25%,
				rgba(0, 0, 0, 0.15) 37%,
				rgba(0, 0, 0, 0.06) 63%
			);
			background-size: 400% 100%;
			animation-name: css-dev-only-do-not-override-zg0ahe-ant-skeleton-loading;
			animation-duration: 1.4s;
			animation-timing-function: ease;
			animation-iteration-count: infinite;
		}
	}
}

.section {
	width: 100%;
	height: 100%;
	// max-width: 1100px;

	.content {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		max-width: 900px;
		border-right: 2px solid #dee3f1;
		position: relative;

		input {
			width: 100%;
			padding: 14px 13px;
			border: none;
			outline: none;
			border-radius: 7px;
			background: #ebeff3;
		}
		.head {
			background: #ffffff;
			height: 100vh;
			display: flex;
			flex-direction: column;

			.user_img_and_cover {
				position: relative;
				// overflow: hidden;
				img {
					width: 100%;
					max-width: 979px;
					max-height: 294px;
					object-fit: cover;
					border-radius: 3px;
				}
				.user_cover {
					width: 100%;
					height: 100%;

					position: absolute;
					left: 0px;
					top: 0px;
					.cover_img {
						max-width: 999px;
						width: 100%;
						height: 254px;
						object-fit: cover;
						border-radius: 4px;
					}
					.cover_choose_btn {
						position: absolute;
						z-index: 10;
						top: 10px;
						left: 600px;
						cursor: pointer;
						justify-content: center;
						display: flex;
						position: block;
						align-items: center;
						gap: 5px;
						width: 190px;
						height: 30px;
						border-radius: 10px;
						background: #080a2366;
						p {
							color: #ffffff;
							font-size: 14px;
						}
					}
				}
				.edit_img {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 150px;
					height: 150px;
					border-radius: 100px;
					z-index: 5;
					position: relative;

					.aside {
						display: flex;
						flex-direction: column;
						justify-content: center;
						position: absolute;
						top: 400px;
						left: 0px;

						@media (max-width: 595px) {
							height: 100vh;
						}
						@media (max-width: 414px) {
							// height: 100vh;
							// max-height: 120px;

							svg {
								width: 100%;
								height: 100%;
							}
						}

						.userStory {
							width: 100px;
							height: 100px;
							border-radius: 50%;
							border: 5px solid transparent;

							border-color: #a4ed47 #7cd36a #4ca074 #2e6b7e;
						}
						.plus_img {
							position: relative;
							left: -130px;
							bottom: 90px;
							z-index: 10;
						}
						.userProfile {
							width: 55px;
							height: 55px;
							border-radius: 50%;
						}
						.userEditProfile {
							width: 170px;
							height: 170px;
							border-radius: 100px;
							border: 5px solid #999999;
							background-position: center;
							background: rgba(0, 0, 0, 0.4);
							box-shadow: 0px 4px 4px 0px #00000040;
							overflow: hidden;
							position: absolute;
							bottom: 220px;
							left: 320px;
						}
						.editProfileIcon {
							position: absolute;
							bottom: 275px;
							left: 374px;
							z-index: 30;
							width: 60px;
							height: 60px;
							cursor: pointer;
						}
						.bar {
							display: flex;
							align-items: center;
							gap: 10px;
							.title {
								color: rgb(0, 0, 0);
								font-family: GFS Neohellenic;
								font-size: 30px;
								font-weight: 700;
								line-height: 16px;
								letter-spacing: 0%;
							}
						}
					}

					@media (max-width: 595px) {
						.aside {
							margin-top: 40px;
							height: 190px;
							.userEditProfile {
								width: 130px;
								height: 130px;
								border-radius: 100px;
							}
							.editProfileIcon {
								margin-left: -10px;
							}
						}
					}
					&:first-child {
						display: flex;
						align-items: center;
						justify-content: center;
						padding-top: 60px;
					}
				}
			}

			.body {
				width: 100%;
				display: flex;
				flex-direction: column;
				background-color: rgb(255, 255, 255);
				gap: 30px;
				padding-inline: 40px;
				padding-block: 25px;
				margin-top: 100px;

				.bar {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;
				}

				textarea {
					width: 100%;
					max-width: 900px;
					height: 100vh;
					max-height: 142px;
					resize: none;
					border: none;
					outline: none;
					border-radius: 7px;
					padding: 6.5px;
					background: #ebeff3;
				}

				p {
					color: rgb(0, 0, 0);
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0%;
					text-align: center;
				}
			}
		}

		.Secondary_active {
			background: #ffffff;
			width: 100%;
			height: 100%;

			.widget {
				padding-inline: 40px;
				padding-block: 30px;
				display: flex;
				align-items: center;
				gap: 15px;

				.text {
					color: rgb(0, 0, 0);
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0%;
					text-align: center;
				}

				.educations_button {
					border-radius: 4px;
					border: none;
					width: 40px;
					height: 40px;
					font-size: 20px;
					cursor: pointer;
				}
			}
			.educations_names_area {
				gap: 40px;
				display: flex;
				flex-direction: column;
				padding: 0px 40px;
				.bar {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;
					p {
						color: rgb(0, 0, 0);
						font-size: 20px;
						font-weight: 700;
						line-height: 26px;
						letter-spacing: 0%;
						text-align: center;
					}
				}
			}
		}

		.secondary_disable {
			background: #ffffff;
			height: 7%;

			.widget {
				padding-inline: 40px;
				padding-block: 30px;
				display: flex;
				align-items: center;
				gap: 15px;

				.text {
					color: rgb(0, 0, 0);
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0%;
					text-align: center;
				}

				.educations_button {
					border-radius: 4px;
					border: none;
					width: 40px;
					height: 40px;
					font-size: 20px;
					cursor: pointer;
				}
			}
			.educations_names_area {
				display: none;
			}
		}

		.grid {
			background: #ffffff;
			height: 100vh;
			max-height: 252px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			button {
				font-family: 'Open Sans', sans-serif;
			}

			.col {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				gap: 15px;
				padding-inline: 40px;
				padding-block: 30px;

				.lead {
					color: rgb(0, 0, 0);
					font-size: 20px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0%;
					text-align: center;
				}

				.row {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 5px;
					position: relative;

					button {
						position: absolute;
						top: 50px;
						left: 520px;
					}

					.radio {
						display: flex;
						gap: 7px;
						input {
							width: 10px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1152px) {
	.section {
		width: 100%;
		transition: all 2s ease-in-out;

		.content {
			.head {
				transition: all 2s ease-in;
				width: 100%;
				max-width: 1000px;
				.user_img_and_cover {
					.editImg {
						width: 50vw;
						height: 25vw;
					}
					.user_cover {
						height: 100%;
						.cover_img {
							height: 100%;
						}
						.cover_choose_btn {
							left: 60%;
						}
					}
				}

				.body {
					transition: all 2s ease-in-out;
					grid-template-rows: repeat(1, 1fr);
					grid-template-columns: repeat(2, 1fr);
					margin-bottom: 20px;
				}
			}
			.secondary_disable {
				margin-top: 2px;
			}
			.grid {
				.col {
					.row {
						.radio {
							input {
								width: 25px;
							}
						}
						gap: 20px;
					}
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.section1 {
		.content1 {
			.img_texting {
				li {
					p {
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 595px) {
	.section {
		.content {
			.head {
				.edit_img {
					transition: all 2s ease-in;
					height: 26vw;
					width: 100%;
				}
				.cover_choose_btn {
					margin-left: -10%;
				}
				.body {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}
// !!confident
.section1 {
	width: 100%;
	max-width: 330px;
	min-height: 100vh;
	max-height: 100%;
	background: white;

	.content1 {
		display: flex;
		justify-content: center;

		.img_texting {
			display: flex;
			flex-direction: column;

			padding-top: 80px;

			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		li {
			// list-style: none;

			a {
				display: flex;
				align-items: center;
				gap: 15px;
				svg {
					width: 25px;
					height: 25px;
					top: 13.5px;
				}
				p {
					font-size: 16px;
					font-weight: 400;
					line-height: 20.49px;
					letter-spacing: 0.03em;
					text-align: left;
					font-family: 'Poppins', sans-serif;
				}
			}

			.active_default {
				color: black;
				svg {
					width: 25px;
					height: 25px;
					top: 13.5px;
					left: 6px;
					gap: 0px;
					border: 2px 0px 0px 0px;
					opacity: 0px;
					color: black;
				}
			}

			.active_page {
				color: #4c3f9b;
				svg {
					color: #4c3f9b;
				}
			}
		}
	}
}
// !!confident TWO
.confident_content {
	display: flex;
	flex-direction: row-reverse;

	.vector_switch {
		border-right: 2px solid rgb(220, 225, 230);
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-inline: 20px;
		background: white;

		width: 100%;
		max-width: 900px;

		@media (max-width: 1000px) {
			margin-inline: 20px;
		}
		.vector {
			display: flex;
			align-items: center;

			button {
				border: none;
				background: none;
				outline: none;
				cursor: pointer;
			}
			svg {
				width: 35px;
				height: 35px;
			}
			@media (max-width: 350px) {
				h2 {
					font-size: 16px;
				}
			}
			.h2 {
				font-family: GFS Neohellenic;
				font-size: 20px;
				font-weight: 700;
				line-height: 26px;
				text-align: left;
				background: rgba(0, 0, 0, 1);
			}
		}
		.Switch {
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				font-size: 18px;
				font-weight: 400;
				line-height: 26px;
				text-align: center;
			}
		}
		.lorem_confident {
			display: flex;
			flex-direction: column;
			gap: 10px;

			p {
				font-size: 16px;
				font-family: 'Poppins', sans-serif;
				font-weight: 400;
				line-height: 25px;
			}
		}
	}
}
// ! Blocked
.blocked {
	display: flex;
	flex-direction: row-reverse;

	.contents {
		width: 900px;

		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 15px 20px;
		background: white;
		border-right: 2px solid rgb(220, 225, 230);

		h2 {
			font-weight: 400;
		}
		h3 {
			font-weight: 400;
		}
	}

	.card {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.start {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		.text {
			display: flex;
			flex-direction: column;
		}

		button {
			width: 120px;
			height: 30px;
			background: #535188;
			border: none;
			border-radius: 8px;
			color: white;
			outline: none;
			cursor: pointer;
		}
	}
}

.modals {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background: white;
	height: 340px;
	border-radius: 15px;
	text-align: center;
	width: 440px;
	padding: 20px;

	.text {
		padding: 15px;
		color: black;
	}

	.buttons {
		display: flex;
		flex-direction: column;
		gap: 10px;
		button {
			padding-top: 8px;
			border: none;
			height: 35px;
			background: transparent;
			cursor: pointer;
			color: #4c3f9b;
			border-top: 2px solid black;
		}
		.button1 {
			padding-top: 8px;
			border: none;
			height: 35px;
			background: transparent;
			cursor: pointer;
			color: #4c3f9b;
			border-top: 2px solid black;
		}
	}
}
// !
.modalka {
	background: white;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	padding: 20px;
	border-radius: 15px;
	gap: 15px;
	h1 {
		text-align: center;
		font-size: 20px;
	}
	.box {
		display: flex;
		flex-direction: column;
		gap: 15px;

		.text_icon {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;

			button {
				background: none;
				border: none;
				outline: none;

				svg {
					width: 27px;
					height: 30px;
				}
			}
		}
	}
	.btn {
		display: flex;
		flex-direction: column;
		gap: 10px;
		span {
			width: 100%;
			border-bottom: 1px solid rgb(163, 163, 163);
		}
		button {
			padding-top: 8px;
			border: none;
			height: 35px;
			background: transparent;
			cursor: pointer;
			color: #4c3f9b;
			// border-top: 2px solid black;
		}
	}
}

// !!!2
.modalka2 {
	background: white;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	padding: 20px;
	border-radius: 15px;
	gap: 20px;
	h1 {
		text-align: center;
		font-size: 20px;
	}
	.box {
		display: flex;
		flex-direction: column;
		gap: 15px;

		.text_icon {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;

			button {
				background: none;
				border: none;
				outline: none;

				svg {
					width: 27px;
					height: 30px;
				}
			}
		}
	}
	.btn {
		display: flex;
		flex-direction: column;
		gap: 10px;
		span {
			width: 100%;
			border-bottom: 1px solid rgb(163, 163, 163);
		}
		button {
			padding-top: 8px;
			border: none;
			height: 35px;
			background: transparent;
			cursor: pointer;
			color: #4c3f9b;
		}
	}
}
.is_modal {
	display: flex;
	align-items: center;
	justify-content: center;
	.modal {
		background: white;
		width: 100%;
		max-width: 370px;
		height: 260px;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;

		.f {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			img {
				width: 70px;
				height: 70px;
				border-radius: 50%;
				object-fit: cover;
			}
			p {
				color: rgba(0, 0, 0, 0.9);
				font-size: 18px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 3%;
				text-align: center;
			}
		}

		.s {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 16px;
		}
	}
}
