.error {
	overflow: hidden;
	width: 100%;

	:global {
		:where(
				.css-dev-only-do-not-override-zg0ahe
			).ant-skeleton.ant-skeleton-element
			.ant-skeleton-button {
			display: inline-block;
			vertical-align: top;
			background: rgba(0, 0, 0, 0.06);
			border-radius: 4px;
			width: 64px;
			/* min-width: 64px; */
			/* height: 32px; */
			width: 100%;
			height: 100vh;
			line-height: 32px;

			background: linear-gradient(
				90deg,
				rgba(0, 0, 0, 0.06) 25%,
				rgba(0, 0, 0, 0.15) 37%,
				rgba(0, 0, 0, 0.06) 63%
			);
			background-size: 400% 100%;
			animation-name: css-dev-only-do-not-override-zg0ahe-ant-skeleton-loading;
			animation-duration: 1.4s;
			animation-timing-function: ease;
			animation-iteration-count: infinite;
		}
	}
}

select {
	background: #c70f0f;
}

.invalid-input {
	border: 1px solid red;
}

.custom_skeleton {
	background-color: #f0f2f5;
	border-radius: 4px;
	height: 250px;
	margin-bottom: 16px;
}

.main {
	width: 100%;
	margin-top: 6px;
}

.dots {
	margin-right: 10px;
	margin-top: 5px;
}

.Forme {
	min-height: 100vh;
	max-height: 100%;
	width: 100%;

	// height: 100vh;
	// max-height: 100%;

	.content {
		display: flex;
		flex-direction: column;
		gap: 80px;
		width: 100%;
		.head {
			width: 100%;
			max-height: 260px;
			height: 100vh;
			position: relative;

			.cover_img {
				position: relative;
				overflow: hidden;
				width: 100%;

				button {
					position: absolute;
					top: 0px;
					right: -6px;
					background: none;
					outline: none;
					border: none;

					rotate: 90deg;
					cursor: pointer;

					svg {
						color: white;
					}
				}
				.active {
					position: absolute;
					right: 14px;
					top: 33px;
					border-radius: 7px;

					padding-inline: 20px;
					padding-block: 10px;

					background: rgb(255, 255, 255);
					display: flex;
					flex-direction: column;
					gap: 5px;
					align-items: center;

					span {
						border: 1px solid rgba(0, 0, 0, 0.2);
						width: 100%;
					}

					p {
						font-size: 16px;
						color: black;
						cursor: pointer;
					}
				}

				.default {
					position: absolute;
					left: 2300px;
					top: 0px;
				}
			}
			img {
				width: 100%;
				max-height: 224px;
				object-fit: cover;
				border-radius: 3px;
			}

			.bar {
				display: flex;
				align-items: center;
				height: 90px;
				background: #ffffff;
				width: 100%;

				img {
					width: 150px;
					height: 150px;
					border: 5px solid rgb(255, 255, 255);
					border-radius: 75px;
					position: relative;
					bottom: 50px;
					margin-left: 13px;
					cursor: pointer;
				}
				.side_bar {
					width: 810px;
					height: 90px;
					display: flex;
					justify-content: space-between;
					padding-inline: 30px;

					.start {
						display: flex;
						flex-direction: column;
						gap: 7px;

						.bar_aside {
							display: flex;
							align-items: center;
							gap: 8px;
							margin-top: 10px;
							h4 {
								color: rgb(0, 0, 0);
								font-size: 21px;
								font-weight: 500;
								line-height: 24px;
							}
							p {
								color: rgba(0, 0, 0, 0.2);
								font-size: 21px;
								font-weight: 500;
								line-height: 26px;
								cursor: pointer;
							}

							span {
								border: 0.5px solid rgb(0, 0, 0);
								height: 17px;
								width: 0.1px;
							}
						}

						h4 {
							color: rgb(0, 0, 0);
							font-size: 13px;
							font-weight: 400;
							line-height: 15px;
						}
						p {
							color: rgba(0, 0, 0, 0.7);
							font-size: 12px;
							font-weight: 400;
							line-height: 14px;
						}
					}

					.end {
						display: flex;
						flex-direction: column;
						gap: 10px;
						text-align: center;
						margin-top: 20px;
						margin-right: -50px;
						h4 {
							color: rgb(0, 0, 0);
							font-size: 15px;
							font-weight: 600;
							line-height: 20px;
							letter-spacing: 3%;
							text-align: center;
						}
						p {
							color: rgb(0, 0, 0);
							font-size: 14px;
							font-weight: 400;
							line-height: 14px;
							letter-spacing: 3%;
							text-align: center;
						}
						button {
							width: 190px;
							padding: 4px 0px;
							color: rgb(0, 0, 0);
							font-size: 12px;
							font-weight: 700;
							line-height: 18px;
							text-align: center;
							border: 1px solid rgba(0, 0, 0, 0.9);
							border-radius: 8px;
							background: rgba(9, 7, 85, 0);
							opacity: 0.7;
							cursor: pointer;
							@media (max-width: 579px) {
								width: 175px;
							}
						}
					}
				}
			}
		}

		.links {
			width: 100%;
			padding-block: 9px;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 275px;

			.active_style {
				display: flex;
				align-items: center;
				gap: 4px;
				color: #000;
				border-bottom: 1px solid rgba(0, 0, 0, 0.7);
			}
			.default_style {
				display: flex;
				align-items: center;
				gap: 5px;
				color: #000;
			}
		}

		.container {
			width: 100%;
			display: flex;
			flex-direction: column;
			min-height: 100vh;
			max-height: 100%;

			.user_avatar_and_cover {
				display: flex;
				flex-direction: column-reverse;
				height: 253px;
				width: 100%;
				background-color: #d0d5da;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				.user_avatar {
					position: absolute;
					right: 0px;
					top: 40px;
					z-index: 3;

					width: 190px;
					height: 600px;
					border-radius: 50%;
					border: 3px solid #999999;
					background: rgba(0, 0, 0, 0.4);
					box-shadow: 0px 4px 4px 0px #57555550;
					overflow: hidden;
					position: relative;
					object-fit: cover;
					cursor: pointer;

					.userEditProfile {
						object-fit: cover;
					}

					svg {
						position: absolute;
						left: 67px;

						top: 0px;

						width: 100%;
						max-width: 50px;
						height: 100%;
					}
				}
			}
			.user_cover {
				height: 253px;
				position: relative;

				.cover_img {
					object-fit: cover;
					display: flex;
					z-index: 1;
					position: absolute;
					bottom: 0px;
					left: 0px;
					width: 100%;
					height: 253px;
					overflow: hidden;
				}
				.cover_choose_btn {
					position: absolute;
					bottom: 210px;
					left: 805px;
					z-index: 100;
					width: 160px;
					height: 30px;
					border-radius: 10px;
					display: flex;
					background-color: #080a2366;
					cursor: pointer;
					align-items: center;
					gap: 5px;
					justify-content: center;
					p {
						font-size: 10px;
						font-weight: 700;
						color: #ffffffb2;
					}
				}
			}
			.public_content {
				width: 100%;
				background-color: white;
				display: flex;
				flex-direction: column;
				gap: 20px;
				padding: 20px 50px 30px 50px;

				div {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 14px;
				}
				p {
					font-weight: 700;
					font-size: 20px;
				}
				input,
				textarea {
					width: 100%;
					resize: none;
					outline: none;
					background-color: #ebeff3;
					border: none;
					border-radius: 8px;
					font-size: 20px;
				}
				input {
					padding: 14px 13px;
				}
				textarea {
					padding: 14px 0px 142px 13px;
				}

				select {
					width: 100%;
					padding: 13px;
					background: #ebeff3;
					border-radius: 8px;
					border: none;
					outline: none;
					cursor: pointer;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;

					&:hover {
						background-color: #d3d8dd;
					}

					option {
						padding-block: 3px;
					}
				}
				.save_public_button_container {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
				}
				.save_public_button {
					height: 32px;
					width: 120px;
					border-radius: 8px;
					background: rgb(9, 7, 85);
					opacity: 0.7;
					color: rgb(255, 255, 255);
					font-size: 15px;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
					line-height: 18px;
					cursor: pointer;
					text-align: center;
					outline: none;
					border: none;
				}
			}
		}

		.down {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			.section {
				display: flex;
				.photos {
					width: 450px;
					height: 450px;

					.image {
						object-fit: cover;
					}
					.image:empty {
						display: none;
					}
				}
				flex-direction: column;

				button {
					background: none;
					outline: none;
					border: none;
				}
			}

			h1 {
				text-align: center;
				font-family: 'Courier New';
				font-weight: bold;
			}
			.bar {
				cursor: pointer;
				width: 353px;
				height: 353px;
				background: white;
				display: grid;
				align-items: center;
				justify-content: center;
				:first-child {
					display: flex;
					cursor: pointer;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 20px;
				}
			}
			.edit {
				width: 100%;
				max-width: 356px;
				height: 356px;
			}

			.photos {
				position: relative;

				button {
					position: absolute;
					top: 0;
					right: 2px;
					background: none;
					outline: none;
					border: none;
					svg {
						color: white;
						opacity: 0;
					}
					cursor: pointer;
				}
				img {
					width: 353px;
					height: 353px;
					object-fit: cover;
				}
				&:hover {
					button {
						svg {
							opacity: 1;
						}
					}
				}

				.showMessage {
					position: absolute;
					left: 115px;
					top: 20px;
					z-index: 888;
					border-radius: 7px;
					display: flex;
					flex-direction: column;
					text-align: center;
					gap: 7px;
					padding-inline: 20px;
					padding-block: 10px;
					width: 100%;
					max-width: 200px;

					background: rgb(255, 255, 255);
					img {
						width: 20px;
					}

					span {
						border: 1px solid rgba(0, 0, 0, 0.2);
					}
					button {
						opacity: 1;
					}
					h4 {
						color: rgb(207, 22, 22);
						font-size: 15px;
						font-weight: 600;
						line-height: 26px;
						letter-spacing: 2%;
						text-align: center;
						cursor: pointer;
					}
					p {
						color: rgb(0, 0, 0);
						font-size: 15px;
						font-weight: 400;
						line-height: 26px;
						letter-spacing: 2%;
						text-align: center;
						cursor: pointer;
					}
				}
				.isNotMessage {
					position: absolute;
					top: 0;
					left: -1700px;
				}
			}
		}
	}
}

.modal_avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	// backdrop-filter: blur(5px);

	img {
		width: 300px;
		height: 300px;
		object-fit: cover;

		border-radius: 50%;
	}
}

.is_modal {
	display: flex;
	align-items: center;
	justify-content: center;

	.modal {
		background: white;
		width: 100%;
		max-width: 700px;
		border-radius: 15px;
		padding-inline: 10px;
		padding: 10px 20px;

		.added {
			height: 400px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			.ui {
				display: flex;
				flex-direction: column;
				gap: 25px;
			}

			textarea {
				height: 264px;
				width: 100%;
				resize: none;
				border: none;
				outline: none;
			}

			.boolean {
				display: flex;
				justify-content: space-between;
				font-size: 17px;
			}

			h3 {
				text-align: center;
				font-family: 'Montserrat', sans-serif;
				font-weight: 500;
				font-size: 26px;
			}

			.buttons {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				margin-top: -16px;
			}
		}
	}
}

.tool_tip {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	.open_modal {
		display: flex;

		.slider {
			position: relative;

			.bar_slider {
				width: 500px;

				.aside_slider {
					img {
						object-fit: cover;
						height: 672px;
					}
				}
			}
		}

		img {
			object-fit: cover;
			height: 750px;
		}

		.aside_bar {
			background: rgba(255, 255, 255);
			width: 490px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 30px;

			height: 750px;
			max-height: 100%;
			overflow: auto;

			.aside_bar::-webkit-scrollbar {
				width: 1px;
				height: 1px;
			}
			.aside_bar::-webkit-scrollbar-track {
				background: #fff;
			}
			.aside_bar::-webkit-scrollbar-thumb {
				background: #928f8f;
			}

			.header {
				width: 100%;
				max-width: 490px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				position: fixed;
				right: 455px;
				top: 120px;
				z-index: 50;
				background: white;
				// border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);

				.avatar {
					display: flex;
					align-items: center;
					gap: 6px;
					img {
						// cursor: pointer;
						width: 50px;
						height: 50px;
						border-radius: 50%;
					}
				}
				button {
					background: none;
					border: none;
					outline: none;
					cursor: pointer;

					svg {
						color: gray;
					}
				}
			}

			.content_comment {
				// background: red;
				margin-top: 52px;
			}

			.comment {
				display: flex;
				gap: 13px;
				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}

				.commentnickname {
					display: flex;
					flex-direction: column;
					gap: 1px;
					width: 100%;

					.comment_width {
						width: 100%;
						max-width: 390px;
					}

					.heart {
						width: 100%;
						display: flex;
						justify-content: space-between;

						.likes {
							display: flex;
							flex-direction: column;
							align-items: center;

							button {
								background: none;
								border: none;
								outline: none;

								svg {
									width: 14px;
								}
							}
						}
					}
					.commentend {
						display: flex;
						justify-content: space-between;
						padding-inline-end: 12px;
						position: relative;
						p {
							color: rgba(0, 0, 0, 0.6);
							font-size: 9px;
							font-weight: 400;
							line-height: 6px;
							letter-spacing: 3%;
							text-align: left;
						}

						h4 {
							color: rgb(0, 0, 0);
							font-size: 10px;
							font-weight: 700;
							line-height: 8px;
							letter-spacing: 3%;
							text-align: left;
							cursor: pointer;
						}

						.answer {
							font-size: 14px;
							padding: 8px 8px 7px 5px;
							display: block;
							width: 100%;
							max-width: 200px;
							border: none;
							border-bottom: 1px solid #515151;
							background: transparent;
							position: absolute;
							right: 37px;
							top: 7px;
						}

						.answer:focus {
							outline: none;
						}
					}
				}
			}
			.user_data {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				max-width: 470px;
				.row {
					display: flex;
					align-items: center;
					gap: 7px;
				}
				img {
					width: 60px;
					height: 60px;
					border-radius: 50%;
				}
			}

			.is_none {
				// display: none;
			}

			.input_smile {
				width: 100%;
				max-width: 490px;
				padding: 20px;
				position: fixed;
				top: 807px;
				width: 100%;
				background: white;
				display: flex;
				align-items: center;

				svg {
					position: relative;
					cursor: pointer;
					top: 3px;
				}
				input {
					outline: 0;
					border: 0;
					color: rgb(28, 28, 28);
					font-size: 16px;
					font-weight: 400;
					line-height: 21px;
					width: calc(100% - 40px);
					position: relative;
					left: 18px;
					&:focus {
						border: 0;
						outline: 0;
					}
					&:focus::placeholder {
						opacity: 0;
					}
				}
				em-emoji-picker {
					position: absolute;
					bottom: 33px;
					left: 0;
					z-index: 555;
					height: 260px;
				}
			}
		}

		img {
			width: 520px;
			object-fit: cover;
		}
	}
}
.comment_modal_delete {
	display: flex;
	align-items: center;
	justify-content: center;
	.modal_delete {
		background: white;
		width: 280px;
		height: 132px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		background: rgb(255, 255, 255);

		color: rgb(207, 22, 22);
		font-size: 15px;
		font-weight: 600;
		line-height: 26px;
		letter-spacing: 2%;
		text-align: center;
		cursor: pointer;
	}
}

.first_modal {
	display: flex;
	align-items: center;
	justify-content: center;

	.center {
		.modal {
			display: flex;

			.user_img {
				img {
					height: 750px;
					object-fit: cover;
					width: 500px;
				}
			}

			.user_content {
				background: rgba(255, 255, 255);
				height: 750px;
				max-height: 100%;
				overflow: auto;
				position: relative;
				width: 490px;

				.user_header {
					width: 100%;
					max-width: 490px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					position: fixed;
					height: 70px;
					z-index: 50;
					background: #ffffff;
					padding-left: 20px;

					.user_avatar {
						display: flex;
						align-items: center;
						gap: 10px;

						img {
							object-fit: cover;
							width: 50px;
							height: 50px;
							border-radius: 50%;
						}

						.user_text {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							gap: 6px;
							p {
								color: rgba(0, 0, 0, 0.9);
								font-size: 17px;
								font-weight: 400;
								line-height: 23px;
								letter-spacing: 3%;
								text-align: center;
							}

							h4 {
								color: rgba(0, 0, 0, 0.6);
								font-size: 15px;
								font-weight: 500;
								line-height: 11px;
								letter-spacing: 3%;
								text-align: center;
							}
						}
					}
					button {
						background: none;
						border: none;
						outline: none;
						cursor: pointer;
						padding-right: 32px;
						svg {
							color: gray;
						}
					}
				}

				.user_content_main {
					color: #000;
					display: flex;
					flex-direction: column;
					margin-left: 15px;
					align-items: center;
					margin-bottom: 50px;

					.main_center {
						display: flex;
						gap: 6px;

						.like {
							// width: 100%;
							// max-width: 440px;
							width: 410px;
							display: flex;
							justify-content: space-between;

							.comment_width {
								width: 100%;
								max-width: 390px;
							}

							.button_like {
								display: flex;
								flex-direction: column;
								align-items: center;
								position: relative;
								top: -24px;

								button {
									background: none;
									outline: none;
									border: none;
									cursor: pointer;

									svg {
										width: 14px;
									}
								}

								.answer {
									font-size: 13px;
									padding: 8px 8px 7px 5px;

									display: block;
									border: none;
									border-bottom: 1px solid #515151;
									background: transparent;
									position: absolute;
									right: 90px;
									top: 42px;
								}

								.answer:focus {
									outline: none;
								}
							}
						}
					}

					img {
						object-fit: cover;
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}

				.input_smile {
					width: 100%;
					max-width: 490px;
					padding: 20px;
					position: fixed;
					top: 807px;
					width: 100%;
					background: white;
					display: flex;
					align-items: center;

					svg {
						position: relative;
						cursor: pointer;
						top: 3px;
					}
					input {
						outline: 0;
						border: 0;
						color: rgb(28, 28, 28);
						font-size: 16px;
						font-weight: 400;
						line-height: 21px;
						width: calc(100% - 40px);
						position: relative;
						left: 18px;
						&:focus {
							border: 0;
							outline: 0;
						}
						&:focus::placeholder {
							opacity: 0;
						}
					}
					em-emoji-picker {
						position: absolute;
						bottom: 33px;
						left: 0;
						z-index: 555;
						height: 260px;
					}
				}
			}
		}
	}
}
