.New_password {
  background-image: url(../../../../assets//background.jpeg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.New_password .bar {
  width: 100%;
  height: 100%;
  max-width: 420px;
  max-height: 430px;
  border-radius: 8px;
  border: 1px solid rgb(219, 219, 219);
  background: rgb(255, 255, 255);
}
@media (max-width: 425px) {
  .New_password .bar {
    width: 100%;
    max-width: 385px;
  }
}
@media (max-width: 390px) {
  .New_password .bar {
    max-width: 365px;
  }
}
@media (max-width: 370px) {
  .New_password .bar {
    max-width: 345px;
  }
}
@media (max-width: 352px) {
  .New_password .bar {
    max-width: 322px;
    padding-inline: 15px;
  }
}
.New_password .bar .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-block: 40px;
  position: relative;
}
.New_password .bar .content .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.New_password .bar .content .section .error_email {
  position: absolute;
  top: 307px;
  left: 40px;
  color: rgba(255, 0, 0, 0.723);
  font-size: 14px;
}
.New_password .bar .content .section .title {
  font-size: 1.55rem;
  line-height: 1.6;
  font-weight: bold;
  background: linear-gradient(75deg, white, #562db1, white, #562db1);
  background-size: 400% 400%;
  animation: gradientAnimation 3.9s infinite, colorAnimation 10s infinite alternate;
  font-family: Arial, sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes colorAnimation {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
.New_password .bar .content .section .desc {
  text-align: center;
  padding-inline: 20px;
  font-size: 17px;
  color: gray;
}
.New_password .bar .content .section .input_password {
  border: none;
  outline: none;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 3px;
  background: rgb(250, 250, 250);
  color: rgb(115, 115, 115);
  padding: 6.5px;
  width: 300px;
  height: 38px;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
}
.New_password .bar .content .section .input_password:focus::-moz-placeholder {
  opacity: 0;
}
.New_password .bar .content .section .input_password:focus::placeholder {
  opacity: 0;
}
.New_password .bar .content .section .input_password:hover {
  background: transparent;
}

.PasswordNew {
  background-image: url(../../../../assets//background.jpeg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PasswordNew .bar {
  width: 100%;
  height: 100%;
  max-width: 380px;
  max-height: 340px;
  border-radius: 8px;
  border: 1px solid rgb(219, 219, 219);
  background: rgb(255, 255, 255);
  padding-block: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
}
.PasswordNew .bar p {
  color: rgba(37, 39, 42, 0.9215686275);
  font-family: "Reddit Mono", monospace;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 425px) {
  .PasswordNew .bar {
    width: 100%;
    max-width: 385px;
  }
}
@media (max-width: 390px) {
  .PasswordNew .bar {
    max-width: 365px;
  }
}
@media (max-width: 370px) {
  .PasswordNew .bar {
    max-width: 345px;
  }
}
@media (max-width: 352px) {
  .PasswordNew .bar {
    max-width: 322px;
    padding-inline: 15px;
  }
}
.PasswordNew .bar .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 20px;
  position: relative;
}
.PasswordNew .bar .content .input_password {
  border: none;
  outline: none;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 3px;
  background: rgb(250, 250, 250);
  color: rgb(115, 115, 115);
  padding: 6.5px;
  width: 300px;
  height: 35px;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
}
.PasswordNew .bar .content .input_password:focus::-moz-placeholder {
  opacity: 0;
}
.PasswordNew .bar .content .input_password:focus::placeholder {
  opacity: 0;
}
.PasswordNew .bar .content .input_password:hover {
  background: transparent;
}
.PasswordNew .bar .content .error_password {
  position: absolute;
  top: 57px;
  left: 3px;
  color: rgba(255, 0, 0, 0.723);
  font-size: 14px;
}
.PasswordNew .bar .content .error_confirm {
  position: absolute;
  top: 129px;
  left: 3px;
  color: rgba(255, 0, 0, 0.723);
  font-size: 13.5px;
}
.PasswordNew .bar .content .error_email {
  position: absolute;
  top: 200px;
  left: 3px;
  color: rgba(255, 0, 0, 0.723);
  font-size: 14px;
}
.PasswordNew .bar .button {
  background-color: #e4e6eb;
  color: #25272a;
  width: 100%;
  max-width: 300px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.7px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}