.center {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #ffffff;

	.ring {
		position: absolute;
		width: 320px;
		height: 320px;
		border-radius: 50%;

		animation: ring 2s linear infinite;
	}
	@keyframes ring {
		0% {
			transform: rotate(0deg);
			box-shadow: 1px 5px 2px #562db1;
		}
		50% {
			transform: rotate(180deg);
			box-shadow: 2px 5px 4px #562db1;
		}
		100% {
			transform: rotate(360deg);
			box-shadow: 5px 15px 12px #562db1;
		}
	}
	.ring::before {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		box-shadow: 0 0 8px rgba(98, 17, 179, 0.66);
		border-radius: 50%;
	}
	span {
		font-size: 32px;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-style: italic;

		background: linear-gradient(75deg, white, #562db1, white, #562db1);
		background-size: 400% 400%;
		animation:
			gradientAnimation 3.5s infinite,
			colorAnimation 10s infinite alternate;
		transition: 2s;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@keyframes gradientAnimation {
			0% {
				background-position: 0% 50%;
			}
			25% {
				background-position: 25% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			75% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}

		@keyframes colorAnimation {
			0% {
				color: red;
			}
			50% {
				color: blue;
			}
			100% {
				color: green;
			}
		}
	}
}
