// // CustomSelect.module.scss
// .selectBox {
//   position: relative;
//   display: inline-block;
// }

// .select {
//   /* Ваши стили для селекта */
//   justify-content: space-around;
//   flex: 1;
//   height: 62px;
//   width: 938px;
//   box-sizing: border-box;
//   border: 5px solid rgba(0, 0, 0, 0);
//   border-radius: 8px;
//   background: rgb(235, 239, 243);
//   padding-inline: 25px;
//   appearance: none;
//   background-image: url('../../assets/icons/ArrowDown.tsx');
//   background-repeat: no-repeat;
//   background-position: 95%;
//   background-size: 20px;
// }

// .arrowDown {
//   position: absolute;
//   top: 50%;
//   right: 10px; /* Подстройте это значение по мере необходимости */
//   transform: translateY(-50%);
//   pointer-events: none;
// }

// /* Установка ширины опций равной ширине селекта */
// .select option {
//   width: 1500px;
//   box-sizing: border-box; /* Учтите внешние границы внутри ширины опций */
// }

// CustomSelect.module.scss
.selectBox {
	position: relative;
	display: inline-block;
}

.select {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 900px; /* Установите ширину селекта */
	padding: 13px;
	background-color: rgb(235, 239, 243);
	border-radius: 8px;
	cursor: pointer;
}

.arrowDown {
	width: 20px;
	height: 20px;
	fill: black;
}

.dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%; /* Ширина равна ширине селекта */
	background-color: rgb(235, 239, 243);
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.option {
	padding: 10px;
	cursor: pointer;
}

.option:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
