.selectBox {
	position: relative;
	display: grid;
	grid-template-columns: repeat(1, 600px);
	width: 100%;
	max-width: 620px;
	overflow: hidden;

	@media (max-width: 1114px) {
		display: grid;
		grid-template-columns: repeat(1, 650px);
	}

	@media (max-width: 767px) {
		display: grid;
		grid-template-columns: repeat(1, 570px);
	}
	@media (max-width: 630px) {
		display: grid;
		grid-template-columns: repeat(1, 480px);
	}
	@media (max-width: 540px) {
		display: grid;
		grid-template-columns: repeat(1, 400px);
		align-items: flex-start;
	}
	@media (max-width: 458px) {
		display: grid;
		grid-template-columns: repeat(1, 300px);
	}
	@media (max-width: 354px) {
		display: grid;
		grid-template-columns: repeat(1, 200px);
	}
}

.selectedOption {
	padding: 13px;
	background: #ebeff3;
	border-radius: 8px;
	border: none;
	outline: none;
	cursor: pointer;

	&:hover {
		background-color: #d3d8dd;
	}
}

.options {
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	width: 100%;
	max-width: 600px;
	max-height: 150px;
	overflow-y: auto;
	background: #ebeff3;
	border-radius: 8px;
	border: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	.option {
		padding: 12px;
		cursor: pointer;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}
