.headerContainer {
	display: flex;
	column-gap: 14px;
	align-items: center;
	.aside {
		display: flex;
		align-items: center;
		border: 1px solid;
		width: 100%;
		height: 100%;
		max-width: 914px;
		max-height: 23px;
		padding: 15px 0 15px 15px;
		input {
			border: none;
			outline: none;
			max-width: 914px;
			max-height: 23px;
			width: 100%;
			height: 100%;
		}
		.magnifyingGlass {
			width: 17px;
		}
	}

	.profilePictureAndIconDown {
		display: flex;
		align-items: center;
		column-gap: 10px;
		.profilePicture {
			max-width: 40px;
			max-height: 50px;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		.iconDown {
			width: 10px;
			height: 6px;
			cursor: pointer;
			transition: 0.2s;
		}
		.iconDownActive {
			rotate: (180deg);
		}
	}
	.menuList {
		ul {
			display: none;
			width: 277px;
			height: 149px;
			margin-left: -300px;
			background-color: white;
			position: absolute;
			border-radius: 8px;
			box-shadow: 0px 4px 10px 0px #00000080;

			flex-direction: column;
			align-items: center;
			padding: 13px 0px;
			gap: 9px;
			margin-top: 25px;
			li {
				display: flex;
				align-items: center;
				width: 250px;
				gap: 6px;
				padding: 0px 5px;
				height: 30px;
				border-radius: 8px;
				cursor: pointer;
				background-color: #ebeff3;
				color: white;
				.accountAvatar {
					width: 20px;
					height: 20px;
					border-radius: 100px;
				}
				.accountName {
					color: #000000b2;
				}
			}
			.addNewAccountContainer {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 13px;
				gap: 10px;
				.addNewAccountButton {
					cursor: pointer;
				}
			}
		}
	}
	.menuList.active {
		ul {
			display: flex;
		}
	}
}

@media (min-width: 320px) and (max-width: 762px) {
	.headerContainer {
		width: 100%;
		justify-content: space-between;
		padding: 20px;
		.aside {
			max-width: 100%;
		}
		.profilePictureAndIconDown {
			.profilePicture,
			.iconDown {
				display: none;
			}
		}
		.burgerMenu {
			display: flex;
			flex-direction: column;
			gap: 5px;
			div {
				transition: 0.2s;
				width: 40px;
				height: 5px;
				background-color: black;
			}
		}
		.burgerMenu_active {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			gap: 5px;
			z-index: 1;
			div {
				width: 40px;
				height: 5px;
				background-color: white;
			}
			:nth-child(1) {
				transform: rotate(45deg);
				transition: 0.2s;
				position: absolute;
				margin-top: -1px;
			}
			:nth-child(3) {
				display: none;
			}

			:nth-child(2) {
				transform: rotate(-45deg);
				transition: 0.2s;
			}
		}
		.menuList {
			display: flex;
			justify-content: center;
			position: absolute;
			background-color: gray;
			width: 50vw;
			height: 100vh;
			margin-top: 435px;
			left: 110%;
			transition: 0.2s;
			ul {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 90%;
				height: 100px;
				margin-top: 50px;
				margin-left: 1px;
				li {
					text-align: end;
					font-size: 1.5rem;
				}
				.addNewAccountContainer {
					flex-direction: row;
					background-color: #00000080;
					padding: 10px;
					border-radius: 8px;
					cursor: pointer;
					.addNewAccountText {
						color: black;
					}
				}
			}
		}
		.menuList.active {
			width: 100vw;
			background-color: black;
			opacity: 70%;
			left: 0;
			transition: 0.2s;
			ul {
				width: 300px;
				height: 200px;
				color: white;
			}
		}
	}
}
