.headerContainer {
	width: 100%;
	border-bottom: 1.5px solid rgb(231, 232, 236);

	.logoContainer {
		width: 28%;
	}
	.content {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		left: 0;
		top: 0;
		.aside_avatar {
			margin-left: 890px;

			@media (max-width: 1208px) {
				margin-left: 699px;
			}
			@media (max-width: 976px) {
				margin-left: 510px;
			}
		}
	}
	.test {
		position: relative;
		max-width: 910px;
		width: 100%;
	}
	.aside {
		display: flex;
		align-items: center;
		gap: 5px;
		border: 1px solid rgba(130, 130, 130, 0.4);
		border-radius: 15px;
		height: 100%;
		max-height: 26px;
		margin: 12px;
		padding-block: 14px;
		padding-inline: 12px;
		@media (max-width: 768px) {
			display: none;
			opacity: 0;
		}
		svg {
			color: gray;
		}
		input {
			max-width: 914px;
			width: 100%;
			border: none;
			outline: none;
		}
		.magnifyingGlass {
			width: 17px;
		}
		.icons {
			position: absolute;
			right: 5px;
			cursor: pointer;
		}
	}
	.hidden {
		display: none;
	}
	.box {
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: absolute;
		z-index: 999;
		// max-width: 910px;
		width: 100%;
		height: 400px;
		// left: 330px;
		top: 40px;
		padding-inline: 20px;
		padding-block: 20px;
		overflow: auto;
		background: white;
		border: 3px solid #4c3f9b;
		border-radius: 15px;

		.user_card {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius: 15px;
			padding-inline: 10px;

			.form {
				display: flex;
				align-items: center;
				gap: 15px;
				img {
					width: 50px;
					height: 50px;
					object-fit: cover;
					border-radius: 50%;
					border: 4px solid #4a9b32;
				}
				.text {
					display: flex;
					flex-direction: column;
					h1 {
						font-size: 12px;
						cursor: pointer;
					}
					p {
						font-size: 14px;
					}
				}
			}
			p {
				font-size: 15px;
			}
		}
		.user_card:hover {
			background: #9285e1;
			transition: 0.5s;
			cursor: pointer;
			border-radius: 15px;
		}
	}
	.profilePictureAndIconDown {
		display: flex;
		width: 100%;
		max-width: 79px;
		align-items: center;
		.profilePicture {
			max-width: 40px;
			max-height: 50px;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		.iconDown {
			width: 40px;
			height: 26px;
			cursor: pointer;
			transition: 0.2s;
		}
		.iconDownActive {
			rotate: (180deg);
		}
	}
	.menuList {
		ul {
			display: none;
			width: 277px;
			height: 169px;
			margin-left: -300px;
			background-color: white;
			position: absolute;
			border-radius: 8px;
			box-shadow: 0px 4px 10px 0px #00000080;
			flex-direction: column;
			align-items: center;
			padding: 13px 0px;
			gap: 9px;
			margin-top: 25px;
			z-index: 443;
			li {
				display: flex;
				align-items: center;
				width: 250px;
				gap: 6px;
				padding: 0px 5px;
				border-radius: 8px;
				padding-block: 2px;
				cursor: pointer;
				background-color: #ebeff3;
				color: white;
				.accountAvatar {
					width: 30px;
					height: 30px;
					border-radius: 50%;
				}
				.accountName {
					color: #000000b2;
				}
			}

			.addNewAccountContainer {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 6px;
				button {
					background: none;
					border: none;
					outline: none;
					.addNewAccountButton {
						cursor: pointer;
					}
				}
			}
		}
	}
	.menuList.active {
		ul {
			display: flex;
		}
	}
}
@media (min-width: 320px) and (max-width: 768px) {
	.headerContainer {
		width: 100%;
		justify-content: space-between;
		outline: solid;
		padding: 20px;
		.logoContainer {
			margin-top: -10px;
			width: 28%;
			img {
				width: 70px;
			}
		}
		.content {
			width: 100%;
			.aside {
				width: 100%;
				display: flex;
				flex-direction: column;
				input {
					width: 100%;
				}
			}
		}
		.profilePictureAndIconDown {
			display: none;
			.profilePicture,
			.iconDown {
				display: none;
			}
		}
		.burgerMenu {
			display: flex;
			flex-direction: column;
			gap: 5px;
			@media (max-width: 697px) {
				padding-left: -30px;
			}
			@media (max-width: 685px) {
				margin-left: -20px;
			}
			@media (max-width: 665px) {
				margin-left: -53px;
			}
			@media (max-width: 633px) {
				margin-left: -74px;
			}
			@media (max-width: 611px) {
				margin-left: -95px;
			}
			@media (max-width: 587px) {
				margin-left: -100px;
			}
			@media (max-width: 577px) {
				margin-left: -110px;
			}
			@media (max-width: 550px) {
				margin-left: -140px;
			}
			@media (max-width: 520px) {
				margin-left: -175px;
			}
			@media (max-width: 500px) {
				margin-left: -190px;
			}
			@media (max-width: 480px) {
				margin-left: -210px;
			}
			@media (max-width: 460px) {
				margin-left: -230px;
			}
			@media (max-width: 430px) {
				margin-left: -270px;
			}
			@media (max-width: 410px) {
				margin-left: -290px;
			}
			@media (max-width: 390px) {
				margin-left: -310px;
			}
			@media (max-width: 360px) {
				margin-left: -340px;
			}
			@media (max-width: 340px) {
				margin-left: -360px;
			}
			@media (max-width: 320px) {
				margin-left: -370px;
			}
			div {
				transition: 0.2s;
				width: 40px;
				height: 5px;
				background-color: black;
				// @media (max-width: 707px) {
				// 	margin-left: -50px;
				// }
				// @media (max-width: 641px) {
				// 	margin-left: -70px;
				// }
				// @media (max-width: 630px) {
				// 	margin-left: -80px;
				// }
				// @media (max-width: 638px) {
				// 	margin-left: -70px;
				// 	overflow: hidden;
				// }
				// @media (max-width: 630px) {
				// 	margin-left: -80px;
				// }
			}
		}
		.burgerMenu_active {
			margin-left: 10px;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			gap: 5px;
			z-index: 111;
			div {
				width: 40px;
				height: 5px;
				background-color: white;
			}
			:nth-child(1) {
				transform: rotate(45deg);
				transition: 0.2s;
				position: absolute;
				margin-top: -1px;
			}
			:nth-child(3) {
				display: none;
			}
			:nth-child(2) {
				transform: rotate(-45deg);
				transition: 0.2s;
			}
		}
		.menuList {
			display: none;
			justify-content: end;
			background-color: gray;
			width: 50vw;
			height: 100vh;
			margin-top: 435px;
			transition: 0.2s;
			ul {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 80%;
				height: 100px;
				margin-top: 60px;
				margin-left: 1px;
				li {
					text-align: end;
					font-size: 1.5rem;
				}
				.addNewAccountContainer {
					flex-direction: row;
					background-color: #00000080;
					padding: 10px;
					border-radius: 8px;
					cursor: pointer;
					.addNewAccountText {
						color: black;
					}
				}
			}
		}
		.menuList.active {
			display: flex;
			position: fixed;
			width: 100vw;
			background-color: black;
			opacity: 70%;
			left: 0;
			transition: 0.2s;
			ul {
				width: 300px;
				height: 200px;
				color: white;
			}
		}
	}
}
