@import url('https://fonts.googleapis.com/css2?family=Anta&family=Anton&family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

ul,
ol {
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #000000 !important;
	background: #ffffff !important;

	.arrow {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		fill: #fff;
		cursor: pointer;
	}

	.arrow--left {
		left: 5px;
	}

	.arrow--right {
		left: auto;
		right: 5px;
	}

	.arrow--disabled {
		fill: rgba(255, 255, 255, 0.5);
	}
}

.container {
	width: 100%;
	max-width: 1500px;
	margin: auto;
	overflow-x: hidden;
}

.alihan {
	width: 100%;
	margin: auto;
}
@media (max-width: 360px) {
	.container {
		padding-inline: 20px;
		transition:
			padding 1.5s,
			background 1.5s;
	}
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
	background-color: #5e0a93;
	border-radius: 10px;
}

:root {
	--purple: #9336fd;
	--purple-shadow: #7b53f5d9;
	--error-shadow: #f57165d9;
	--light-slate: #a8b2d1;
	--light-navy: #240046;
	--lightest-navy: #2f2354;
	--lightest-slate: #d4dcf9;
	--navy: #0a192f;
	--navy-shadow: #020c1bb3;
	--slate: #99a3c0;
	--black: #000;
	--white: #fff;
	--white-bg: #e6f1ff;
	--white-bg-hover: #f3f9ff;
	--border-radius: 4px;
	--transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.react-input-emoji--button {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	svg {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}
}
