@import url('https://fonts.googleapis.com/css2?family=Anta&family=Anton&family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

ul,
ol {
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif !important;
	color: #000000 !important;
	background: #ffffff !important;

	.number-slide1 {
		background: rgb(64, 175, 255);
		background: linear-gradient(
			128deg,
			rgba(64, 175, 255, 1) 0%,
			rgba(63, 97, 255, 1) 100%
		);
	}

	.number-slide2 {
		background: rgb(255, 75, 64);
		background: linear-gradient(
			128deg,
			rgba(255, 154, 63, 1) 0%,
			rgba(255, 75, 64, 1) 100%
		);
	}

	.number-slide3 {
		background: rgb(182, 255, 64);
		background: linear-gradient(
			128deg,
			rgba(182, 255, 64, 1) 0%,
			rgba(63, 255, 71, 1) 100%
		);
		background: linear-gradient(
			128deg,
			rgba(189, 255, 83, 1) 0%,
			rgba(43, 250, 82, 1) 100%
		);
	}

	.number-slide4 {
		background: rgb(64, 255, 242);
		background: linear-gradient(
			128deg,
			rgba(64, 255, 242, 1) 0%,
			rgba(63, 188, 255, 1) 100%
		);
	}

	.number-slide5 {
		background: rgb(255, 64, 156);
		background: linear-gradient(
			128deg,
			rgba(255, 64, 156, 1) 0%,
			rgba(255, 63, 63, 1) 100%
		);
	}

	.number-slide6 {
		background: rgb(64, 76, 255);
		background: linear-gradient(
			128deg,
			rgba(64, 76, 255, 1) 0%,
			rgba(174, 63, 255, 1) 100%
		);
	}

	.arrow {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		fill: #fff;
		cursor: pointer;
	}

	.arrow--left {
		left: 5px;
	}

	.arrow--right {
		left: auto;
		right: 5px;
	}

	.arrow--disabled {
		fill: rgba(255, 255, 255, 0.5);
	}
}

.container {
	width: 100%;
	max-width: 1360px;
	margin-inline: auto;
	padding-inline: 20px;
}
@media (max-width: 360px) {
	.container {
		padding-inline: 20px;
		transition:
			padding 1.5s,
			background 1.5s;
	}
}
