.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 335px;
	background: #ffffff;
	@media (max-width: 768px) {
		width: 110px;
		height: 100vh;
		overflow-y: auto;
	}

	nav {
		padding-inline: 10px;
		padding-block: 20px;
		position: fixed;
		.button_burger {
			display: none;
			@media (max-width: 768px) {
				display: block;
				transition: all 2s ease-in-out;
			}
		}
		.none {
			@media (max-width: 768px) {
				position: absolute;
				top: 100px;
				left: -200px;
				transition: 1s;
			}
		}
		ul {
			display: flex;
			flex-direction: column;
			gap: 15px;
			position: relative;
			@media (max-width: 768px) {
				position: fixed;
				top: 75px;
				left: 38px;
				transition: 1s;
				z-index: 100;
				display: grid;
				grid-template-rows: 1fr;
				gap: 25px;

				span {
					opacity: 0;
					transition: all 1s ease-in-out;
				}
			}

			li {
				display: flex;
				align-items: center;
				cursor: pointer;
				gap: 15px;
				@media (max-width: 768px) {
					transition: all 1s ease-in;
					svg {
						width: 27px !important;
						height: 27px !important;
					}
					img {
						width: 27px !important;
						height: 27px !important;
					}
				}

				span {
					text-align: center;
					color: rgba(0, 0, 0, 0.8);
					font-size: 16x;
					font-weight: 400;
					line-height: 17px;
				}
				svg {
					width: 20px;
					height: 22px;
				}
				img {
					height: 20px;
					width: 20px;
					border-radius: 50%;
				}
				.img {
					border: 2px solid #4c3f9b;
				}
				&.activePage {
					color: #4c3f9b;
				}
			}
			.active_page {
				color: #4c3f9b;
				display: flex;
				align-items: center;
				gap: 5px;
				span {
					color: #4c3f9b;
				}
			}
			.active_default {
				color: black;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 8px;
				max-width: 150px;
			}
		}
	}
}
