.input {
	border: none;
	outline: none;
	border: 2px solid rgb(219, 219, 219);
	border-radius: 3px;
	background: rgb(250, 250, 250);
	color: rgb(115, 115, 115);
	padding: 6.5px;
	width: 300px;
	height: 38px;
	// padding: 6px 70px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	&:focus::placeholder {
		opacity: 0;
	}
	&:hover {
		background: transparent;
	}
}
