.button{
  width: 298px;
  height: 32px;
  border-radius: 8px;
  background: rgb(9, 7, 85);
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  outline: none;
  border: none;
}